<mat-grid-list *ngIf="assignment && problem"
               style="height: calc(100vh - 68px);"
               [cols]="showCodeEditor ? 2 : 1"
               rowHeight="fit" gutterSize="0px">
  <mat-grid-tile colspan="1" rowspan="1">
    <div style="width: 100%; height: 100%; overflow-y: scroll;">
      <app-problem-content [assignment]="assignment"
                           [problem]="problem"
      ></app-problem-content>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1" *ngIf="showCodeEditor">
    <div style="width: 100%; height: 100%;">
      <app-problem-code-editor [problem]="problem"></app-problem-code-editor>
    </div>
  </mat-grid-tile>
</mat-grid-list>
