<nz-layout>
  <nz-header>
    <span class="header-title">Administration</span>
    <div class="header-extra">
      <button nz-button nzType="text" nzDanger routerLink="/">
        <i nz-icon nzType="logout"></i><span>Exit</span>
      </button>
      <button nz-button nzType="text" class="header-content">
        <i nz-icon nzType="user"></i><span>{{ username | async }}</span>
      </button>
    </div>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout>
      <nz-sider nzWidth="20vw">
        <ul nz-menu nzMode="inline" nzTheme="dark">
          <li nz-menu-item routerLink="/admin"
              [routerLinkActive]="['ant-menu-item-selected']"
              [routerLinkActiveOptions]="{exact: true}">
            Dashboard
          </li>
        </ul>
      </nz-sider>
      <nz-content class="inner-content">
        <nz-card>
          <router-outlet></router-outlet>
        </nz-card>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
