<nz-layout *ngIf="user">
  <nz-header>
    <span class="header-title">Administration</span>
    <div class="header-extra">
      <button nz-button nzType="text" nzDanger routerLink="/">
        <i nz-icon nzType="logout"></i><span>Exit</span>
      </button>
      <button nz-button nzType="text" class="header-content">
        <i nz-icon nzType="user"></i><span>{{ user.name }}</span>
      </button>
    </div>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout>
      <nz-sider nzWidth="20vw">
        <ul nz-menu nzMode="inline" nzTheme="dark">
          <li nz-menu-item routerLink="/admin"
              [routerLinkActive]="['ant-menu-item-selected']"
              [routerLinkActiveOptions]="{exact: true}">
            Dashboard
          </li>
          <li *ngIf="hasAnyRole(['Administrator', 'UserManager'])"
              nz-submenu nzTitle="Users" nzOpen>
            <ul>
              <li nz-menu-item routerLink="/admin/user"
                  [routerLinkActive]="['ant-menu-item-selected']"
                  [routerLinkActiveOptions]="{exact: true}">
                List
              </li>
            </ul>
          </li>
          <li *ngIf="hasAnyRole(['Administrator', 'ContestManager'])"
              nz-submenu nzTitle="Contests" nzOpen>
            <ul>
              <li nz-menu-item routerLink="/admin/contest"
                  [routerLinkActive]="['ant-menu-item-selected']"
                  [routerLinkActiveOptions]="{exact: true}">
                List
              </li>
              <li nz-menu-item routerLink="/admin/contest/new"
                  [routerLinkActive]="['ant-menu-item-selected']">
                Create
              </li>
            </ul>
          </li>
          <li *ngIf="hasAnyRole(['Administrator', 'ContestManager'])"
              nz-submenu nzTitle="Problems" nzOpen>
            <ul>
              <li nz-menu-item routerLink="/admin/problem"
                  [routerLinkActive]="['ant-menu-item-selected']"
                  [routerLinkActiveOptions]="{exact: true}">
                List
              </li>
              <li nz-menu-item routerLink="/admin/problem/new"
                  [routerLinkActive]="['ant-menu-item-selected']">
                Create
              </li>
            </ul>
          </li>
          <li *ngIf="hasAnyRole(['Administrator', 'SubmissionManager'])"
              nz-submenu nzTitle="Submissions" nzOpen>
            <ul>
              <li nz-menu-item routerLink="/admin/submission"
                  [routerLinkActive]="['ant-menu-item-selected']"
                  [routerLinkActiveOptions]="{exact: true}">
                List
              </li>
              <li nz-menu-item routerLink="/admin/submission/rejudge"
                  [routerLinkActive]="['ant-menu-item-selected']">
                Rejudge
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="inner-content">
        <nz-card>
          <router-outlet></router-outlet>
        </nz-card>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
