<div id="admin-panel">
  <mat-toolbar>
    <span>Judge1 Administration</span>
    <div class="flex-spacer"></div>
    <button mat-button>
      <mat-icon inline="true">face</mat-icon>
      <span style="margin-left: 0.5rem;">{{ username | async }}</span>
    </button>
    <button mat-button color="accent" routerLink="/">
      <mat-icon inline="true">close</mat-icon>
      <span style="margin-left: 0.5rem;">Exit</span>
    </button>
  </mat-toolbar>
  <mat-drawer-container style="height: calc(100vh - 64px);">
    <mat-drawer mode="side" opened style="max-width: 25vh;">
      <mat-action-list>
        <button mat-list-item routerLink="/admin">Dashboard</button>
        <div mat-subheader>Assignments</div>
        <button mat-list-item routerLink="/admin/assignment">List Assignments</button>
        <button mat-list-item routerLink="/admin/assignment/create">Create Assignment</button>
        <div mat-subheader>Services</div>
        <a class="mat-button" mat-list-item href="/hangfire" target="_blank" style="font-weight: unset !important;">
          <mat-icon>open_in_new</mat-icon>
          <span style="margin-left: 0.5rem;">Hangfire</span>
        </a>
      </mat-action-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
