<app-header-main></app-header-main>
<div class="container my-5">
  <h2>Contests</h2>
  <div *ngIf="list == null; else contestsLoaded" class="spinner-border" role="status"></div>
  <ng-template #contestsLoaded>
    <div *ngIf="list.items.length > 0; else noContests">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Status</th>
          <th scope="col">Period</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contest of list.items">
          <th scope="row">{{ contest.id }}</th>
          <td>
            <a *ngIf="canEnterContest(contest); else cannotEnterContest"
               [class.text-warning]="privileged && now.isBefore(contest.beginTime)"
               [routerLink]="['/contest', contest.id]">
              {{ contest.title }}
            </a>
            <ng-template #cannotEnterContest>
              <span>{{ contest.title }}</span>
            </ng-template>
          </td>
          <td>
            <span *ngIf="contest.isPublic" class="text-success">Public</span>
            <span *ngIf="!contest.isPublic" class="text-danger">Private</span>
          </td>
          <td>
            <span *ngIf="now < contest.beginTime; else contestStarted" class="text-info">Pending</span>
            <ng-template #contestStarted>
              <span *ngIf="now <= contest.endTime" class="text-success">Running</span>
              <span *ngIf="now > contest.endTime">Ended</span>
            </ng-template>
          </td>
          <td>
            {{ contest.beginTime.format('YYYY-MM-DD HH:mm') }}
            - {{ contest.endTime.format('YYYY-MM-DD HH:mm') }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noContests>
      <div class="text-center">
        <h3 class="text-secondary">
          <fa-icon [icon]="faBoxOpen"></fa-icon>
        </h3>
        <p>No contests.</p>
      </div>
    </ng-template>
    <ngb-pagination class="d-flex justify-content-center" [maxSize]="3" [rotate]="true"
                    [collectionSize]="list.totalItems" [page]="list.pageIndex" [pageSize]="list.pageSize"
                    [boundaryLinks]="false" (pageChange)="onPageIndexChange($event)"
    ></ngb-pagination>
  </ng-template>
</div>
<app-footer-main></app-footer-main>
