<mat-card id="problem-submissions" class="mat-elevation-z0">
  <mat-card-content>
    <div *ngIf="newSubmissions.length || practiceSubmissions.length || assignmentSubmissions.length; else noSubmission">
      <mat-list *ngIf="newSubmissions.length">
        <mat-list-item *ngFor="let submission of newSubmissions">
          <mat-spinner></mat-spinner>
          <span>Status {{ submission.verdict }} on test case {{ submission.lastTestCase }}</span>
          <div class="flex-spacer"></div>
          <span>{{ submission.createdAt }}</span>
          <button mat-icon-button>
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <ng-template #noSubmission>
      <div class="text-center">
        <small>You haven't made an attempt on this problem.</small>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
