<h2>
  Submissions
  <button mat-icon-button style="float: right;" (click)="loadSubmissions(problem)">
    <mat-icon>refresh</mat-icon>
  </button>
</h2>
<mat-progress-bar mode="indeterminate" *ngIf="updatingNewSubmissions"></mat-progress-bar>
<div *ngIf="newSubmissions.length || practiceSubmissions.length || assignmentSubmissions.length; else noSubmission">
  <div *ngFor="let category of [{name: '', submissions: newSubmissions},
    {name: 'Practice Submissions', submissions: practiceSubmissions},
    {name: 'Assignment Submissions', submissions: assignmentSubmissions}]">
    <h3 *ngIf="category.name && category.submissions.length">{{ category.name }}</h3>
    <div *ngIf="category.submissions.length" style="max-height: 40vh; overflow-y: auto;">
      <button mat-button style="width: 100%;" *ngFor="let submission of category.submissions">
        <app-submission-verdict [submission]="submission"></app-submission-verdict>
        <span style="float: right;">{{ submission.createdAt | date: 'yyyy-MM-dd HH:mm' }}</span>
      </button>
    </div>
  </div>
</div>
<ng-template #noSubmission>
  <div class="text-center">
    <small>You haven't made an attempt on this problem.</small>
  </div>
</ng-template>
<mat-divider></mat-divider>
