<ng-container *ngIf="submissions">
  <div *ngIf="submissions.length === 0; else submissionsTable" class="text-center text-secondary my-3">
    <ng-container *ngIf="begun; else notBegun">
      <h3>
        <fa-icon [icon]="faBoxOpen"></fa-icon>
      </h3>
      <p>You haven't tried this problem.</p>
    </ng-container>
    <ng-template #notBegun>
      <div class="text-center text-secondary my-3">
        <h3>
          <fa-icon [icon]="faClock"></fa-icon>
        </h3>
        <p>Submissions are only available in <a [routerLink]="['/admin/submission']">admin pages</a> before contest.</p>
      </div>
    </ng-template>
  </div>
  <ng-template #submissionsTable>
    <div class="my-3">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Verdict</th>
            <th scope="col">Time</th>
            <th scope="col">Memory</th>
            <th scope="col">Lang</th>
            <th scope="col">Submitted</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let submission of submissions">
            <th scope="row">{{ submission.id }}</th>
            <td>
              <verdict [submission]="submission"></verdict>
            </td>
            <td [ngClass]="{'text-danger': !!problem && submission.time >= problem.timeLimit}">{{ submission.time }}</td>
            <td [ngClass]="{'text-danger': !!problem && submission.memory >= problem.memoryLimit}">{{ submission.memory }}</td>
            <td>
              <a [href]="'/submission/' + submission.id"
                 (click)="$event.preventDefault(); viewSubmissionPopup(submission)">
                {{ submission.languageInfo.name }}
              </a>
            </td>
            <td>{{ submission.createdAtMoment.format('MM-DD HH:mm') }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="totalPages > 1" class="d-flex justify-content-end">
        <ngb-pagination [collectionSize]="totalItems" [page]="pageIndex"
                        [pageSize]="5" (pageChange)="changePage($event)">
        </ngb-pagination>
      </div>
    </div>
  </ng-template>
</ng-container>
