<div *ngIf="submissions.length === 0; else submissionsTable" class="text-center text-secondary my-3">
  <h3>
    <fa-icon [icon]="faBoxOpen"></fa-icon>
  </h3>
  <p>You haven't tried this problem.</p>
</div>
<ng-template #submissionsTable>
  <div class="my-3">

    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Verdict</th>
        <th scope="col">Language</th>
        <th scope="col">Bytes</th>
        <th scope="col">Submitted</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let submission of submissions">
        <th scope="row">{{ submission.id }}</th>
        <td>
        <span [class]="'text-' + submission.verdictInfo.color">
          <app-submission-verdict [submission]="submission"></app-submission-verdict>
        </span>
        </td>
        <td>{{ submission.languageInfo.name }}</td>
        <td>{{ submission.codeBytes }}</td>
        <td>{{ submission.createdAt.format('YYYY-MM-DD HH:mm:ss') }}</td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="totalPages > 1" class="d-flex justify-content-end">
      <ngb-pagination [collectionSize]="totalItems" [page]="pageIndex"
                      [pageSize]="5" (pageChange)="changePage($event)">
      </ngb-pagination>
    </div>
  </div>
</ng-template>
