<h2>
  Standings
  <span style="float: right;">
      <button nz-button nzSize="small" nzShape="circle" style="margin-right: 0.5rem;"
              [disabled]="loading" (click)="exportStandings()">
        <i nz-icon nzType="download"></i>
      </button>
      <button nz-button nzSize="small" nzShape="circle" style="margin-right: 0.5rem;"
              [nzLoading]="loading" (click)="loadRegistrations()">
        <i nz-icon nzType="sync"></i>
      </button>
  </span>
</h2>
<nz-table #standingsTable *ngIf="contest && registrations"
          [nzFrontPagination]="false" [nzShowPagination]="false" [nzData]="registrations">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Contestant</th>
    <th *ngFor="let problem of contest.problems">
      {{ problem.label }}
    </th>
    <th>Score</th>
    <th>Penalties</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let registration of standingsTable.data">
    <td>{{ registration.rank === -1 ? '-' : registration.rank.toString() }}</td>
    <td><span nz-tooltip [nzTooltipTitle]="registration.contestantId">
      {{ registration.contestantName + (registration.isParticipant ? '' : '*') }}
    </span></td>
    <td *ngFor="let problem of contest.problems">
      <ng-container *ngIf="getProblemItem(registration, problem) as problemItem">
        <span>{{ problemItem[0] }}</span><br/><span>{{ problemItem[1] }}</span>
      </ng-container>
    </td>
    <td>{{ registration.score }}</td>
    <td>{{ registration.penalties }}</td>
  </tr>
  </tbody>
</nz-table>
