<h2>
  {{ edit ? 'Edit' : 'View' }} Contest #{{ contestId }}
  <span class="float-right">
    <button *ngIf="!edit" class="btn btn-primary mr-2" (click)="editContest()">
      <fa-icon [icon]="faEdit"></fa-icon><span>Edit</span>
    </button>
    <button class="btn btn-outline-danger" (click)="deleteContest()">
      <fa-icon [icon]="faTrash"></fa-icon><span>Delete</span>
    </button>
  </span>
</h2>
<app-admin-contest-form *ngIf="contest"
                        [contest]="contest" [disabled]="!edit"
                        (formSubmit)="updateContest($event)"
></app-admin-contest-form>
