<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>
<h2>List Users</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Contestant ID</th>
    <th scope="col">Contestant Name</th>
    <th scope="col">Email</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody *ngIf="!!list">
  <tr *ngFor="let user of list.items">
    <th scope="row">{{ user.contestantId }}</th>
    <td>{{ user.contestantName }}</td>
    <td>{{ user.email }}</td>
    <td>
      <a [routerLink]="['/admin/user', user.id]">View</a>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!!list" class="d-flex justify-content-end">
  <ngb-pagination [collectionSize]="list.totalItems" [page]="list.pageIndex" [rotate]="true" [maxSize]="5"
                  [pageSize]="list.pageSize" (pageChange)="onPageIndexChange($event)">
  </ngb-pagination>
</div>
