<div [class.container]="!fullscreen">
  <div class="row overflow-hidden">
    <div class="col col-12 py-5" [class.col-lg-6]="fullscreen" [class.px-5]="fullscreen"
         [style]="fullscreen ? ('height: calc(100vh - ' + (ended ? 56 : 62) + 'px); overflow-y: auto;') : ''">
      <ng-container [ngTemplateOutlet]="problemDetail"></ng-container>
    </div>
    <div class="col col-12 col-lg-6 p-0" [class.d-none]="!fullscreen"
         [style]="'height: calc(100vh - ' + (ended ? 56 : 62) + 'px);'">
      <app-submission-creator [problemId]="problemId"></app-submission-creator>
    </div>
  </div>
</div>
<ng-template #problemDetail>
  <div *ngIf="contest">
    <select class="form-control custom-select mb-5"
            [(ngModel)]="problemId" (ngModelChange)="changeProblem($event)">
      <option *ngFor="let problem of contest.problems"
              [value]="problem.id" [label]="'Problem ' + problem.label + ' - ' + problem.title"
      ></option>
    </select>
  </div>
  <div *ngIf="contest && problem">
    <div class="text-center">
      <h2>{{ problem.title }}</h2>
      <p>
        <span *ngIf="problem.hasSpecialJudge" class="m-1 badge badge-danger">
          <fa-icon [icon]="faCoffee"></fa-icon>
          <span>Special Judge</span>
        </span>
        <span class="m-1 badge badge-warning">
          <fa-icon [icon]="faStopwatch"></fa-icon>
          <span>{{ problem.timeLimit }}ms</span>
        </span>
        <span class="m-1 badge badge-warning">
          <fa-icon [icon]="faSdCard"></fa-icon>
          <span>{{ problem.memoryLimit }}KiB</span>
        </span>
        <span class="m-1 badge badge-success">
          <fa-icon [icon]="faPaperPlane"></fa-icon>
          <span class="d-inline-block">
            {{ problem.acceptedSubmissions }}/{{ problem.totalSubmissions }} =
            {{ problem.totalSubmissions ? ((problem.acceptedSubmissions / problem.totalSubmissions * 100 | number : '1.1-1') + '%') : '0.0%' }}
          </span>
        </span>
      </p>
    </div>
    <button class="btn my-3 w-100"
            [class.btn-outline-danger]="fullscreen"
            [class.btn-outline-success]="!fullscreen"
            (click)="toggleFullscreen()">
      <fa-icon [icon]="fullscreen ? faTimes : faColumns"></fa-icon>
      <span *ngIf="fullscreen">Close Editor</span>
      <span *ngIf="!fullscreen">Open Editor</span>
    </button>
    <app-submission-timeline [problemId]="problemId"></app-submission-timeline>

    <h3 class="mt-5">Description</h3>
    <markdown [data]="problem.description" katex></markdown>
    <h3 class="mt-5">Input Format</h3>
    <markdown [data]="problem.inputFormat" katex></markdown>
    <h3 class="mt-5">Output Format</h3>
    <markdown [data]="problem.outputFormat" katex></markdown>
    <h3 class="mt-5">Sample Cases</h3>
    <div *ngFor="let sample of problem.sampleCases" class="row mx-1 my-3">
      <div class="col col-12 col-md-6 border">
        <h5 class="my-3">
          Input
          <span class="float-right">
            <button class="btn btn-sm" ngxClipboard [cbContent]="sample.input"
                    ngbTooltip="Copied!" triggers="click:blur">
              <fa-icon [icon]="faCopy" class="mr-0"></fa-icon>
            </button>
          </span>
        </h5>
        <hr/>
        <pre>{{ sample.input }}</pre>
      </div>
      <div class="col col-12 col-md-6 border">
        <h5 class="my-3">
          Output
          <span class="float-right">
            <button class="btn btn-sm" ngxClipboard [cbContent]="sample.output"
                    ngbTooltip="Copied!" triggers="click:blur">
              <fa-icon [icon]="faCopy" class="mr-0"></fa-icon>
            </button>
          </span>
        </h5>
        <hr/>
        <pre>{{ sample.output }}</pre>
      </div>
    </div>
    <ng-container *ngIf="problem.footNote">
      <h3 class="mt-5">Foot Note</h3>
      <markdown [data]="problem.footNote" katex></markdown>
    </ng-container>
  </div>
</ng-template>
