<div class="position-fixed d-none d-lg-block"
     [style]="'top: calc(50vh - 30px); right: ' + (fullscreen ? '50%' : '0') + '; z-index: 200;'">
  <button class="btn bg-light text-secondary" id="toggle-button"
          (click)="toggleFullscreen()">
    <fa-icon [icon]="fullscreen ? faArrowRight : faArrowLeft" class="mr-0"></fa-icon>
  </button>
</div>
<div [class.container]="!fullscreen">
  <div class="row overflow-hidden">
    <div class="col col-12 py-5" [class.col-lg-6]="fullscreen" [class.px-5]="fullscreen"
         [style]="fullscreen ? ('height: calc(100vh - ' + (ended ? 56 : 62) + 'px); overflow-y: auto;') : ''">
      <ng-container [ngTemplateOutlet]="problemDetail"></ng-container>
    </div>
    <div class="col col-12 col-lg-6 p-0 d-block" [class.d-lg-none]="!fullscreen"
         [style]="'height: calc(100vh - ' + (ended ? 56 : 62) + 'px);'">
      <app-submission-creator [problemId]="problemId"></app-submission-creator>
    </div>
  </div>
</div>
<ng-template #problemDetail>
  <div *ngIf="contest" class="mb-5">
    <select class="form-control custom-select"
            [(ngModel)]="problemId" (ngModelChange)="changeProblem($event)">
      <option *ngFor="let problem of contest.problems"
              [value]="problem.id" [label]="'Problem ' + problem.label + ' - ' + problem.title"
      ></option>
    </select>
    <p *ngIf="privileged" class="text-right mt-2">
      <a class="btn btn-sm btn-outline-danger mr-2" [routerLink]="['/admin/problem/', problemId]">
        <fa-icon [icon]="faEdit"></fa-icon>
        <span>Edit Problem</span>
      </a>
      <a class="btn btn-sm btn-outline-danger mr-2" [routerLink]="['/admin/problem/', problemId, 'tests']">
        <fa-icon [icon]="faBoxes"></fa-icon>
        <span>Test Cases</span>
      </a>
      <a class="btn btn-sm btn-outline-warning" routerLink="/admin/submission/rejudge" [state]="{problemId: problemId}">
        <fa-icon [icon]="faRedo"></fa-icon>
        <span>Rejudge</span>
      </a>
    </p>
  </div>
  <div *ngIf="contest && problem">
    <div>
      <h2>{{ problem.title }}
        <span class="float-right" *ngIf="!fullscreen">
        <button class="btn text-secondary" (click)="toggleFullscreen()">
          <fa-icon [icon]="faColumns"></fa-icon><span>Open Editor</span>
        </button>
      </span></h2>
      <p>
        <span *ngIf="problem.hasSpecialJudge" class="m-1 badge badge-danger">
          <fa-icon [icon]="faCoffee"></fa-icon>
          <span>Special Judge</span>
        </span>
        <span class="m-1 badge badge-warning">
          <fa-icon [icon]="faStopwatch"></fa-icon>
          <span>{{ problem.timeLimit }}ms</span>
        </span>
        <span class="m-1 badge badge-warning">
          <fa-icon [icon]="faSdCard"></fa-icon>
          <span>{{ problem.memoryLimit }}KiB</span>
        </span>
        <a class="m-1 badge badge-success"
           [routerLink]="['/contest', contestId, 'submissions']" [queryParams]="{problemId: problemId}">
          <fa-icon [icon]="faPaperPlane"></fa-icon>
          <span class="d-inline-block">
            {{ problem.statistics.acceptedSubmissions }}/{{ problem.statistics.totalSubmissions }} =
            {{ problem.statistics.totalSubmissions ? ((problem.statistics.acceptedSubmissions / problem.statistics.totalSubmissions * 100 | number : '1.1-1') + '%') : '0.0%' }}
          </span>
        </a>
      </p>
    </div>
    <ul ngbNav #detailNav="ngbNav" class="nav-tabs">
      <li ngbNavItem class="w-50">
        <a ngbNavLink class="text-center">
          <fa-icon [icon]="faFileAlt"></fa-icon>Statement
        </a>
        <ng-template ngbNavContent>
          <div class="border p-3">
            <h3>Description</h3>
            <markdown [data]="problem.description" katex></markdown>
            <h3 class="mt-5">Input Format</h3>
            <markdown [data]="problem.inputFormat" katex></markdown>
            <h3 class="mt-5">Output Format</h3>
            <markdown [data]="problem.outputFormat" katex></markdown>
            <h3 class="mt-5">Sample Cases</h3>
            <div *ngFor="let sample of problem.sampleCases" class="row mx-1 my-3">
              <div class="col col-12 col-md-6 border">
                <h5 class="my-3">
                  Input
                  <span class="float-right">
            <button class="btn btn-sm" ngxClipboard [cbContent]="sample.input"
                    ngbTooltip="Copied!" triggers="click:blur">
              <fa-icon [icon]="faCopy" class="mr-0"></fa-icon>
            </button>
          </span>
                </h5>
                <hr/>
                <pre>{{ sample.input }}</pre>
              </div>
              <div class="col col-12 col-md-6 border">
                <h5 class="my-3">
                  Output
                  <span class="float-right">
            <button class="btn btn-sm" ngxClipboard [cbContent]="sample.output"
                    ngbTooltip="Copied!" triggers="click:blur">
              <fa-icon [icon]="faCopy" class="mr-0"></fa-icon>
            </button>
          </span>
                </h5>
                <hr/>
                <pre>{{ sample.output }}</pre>
              </div>
            </div>
            <ng-container *ngIf="problem.footNote && problem.footNote.trim() !== ''">
              <h3 class="mt-5">Foot Note</h3>
              <markdown [data]="problem.footNote" katex></markdown>
            </ng-container>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem class="w-50 text-center" #submissionPane>
        <a ngbNavLink>
          <fa-icon [icon]="faPaperPlane"></fa-icon>Submissions
        </a>
        <ng-template ngbNavContent>
          <div class="border p-3">
            <h3>My Submissions</h3>
            <app-submission-timeline [problemId]="problemId"></app-submission-timeline>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="detailNav"></div>
  </div>
</ng-template>
