<ng-container *ngIf="fullscreen; else contained">
  <div class="row">
    <div class="col col-12 col-lg-6 my-5">
      <ng-container [ngTemplateOutlet]="problemDetail"></ng-container>
    </div>
  </div>
</ng-container>
<ng-template #contained>
  <div class="container my-5">
    <ng-container [ngTemplateOutlet]="problemDetail"></ng-container>
  </div>
</ng-template>
<ng-template #problemDetail>
  <div *ngIf="contest">
    <select class="form-control mb-5" [(ngModel)]="problemId" (ngModelChange)="onProblemChanged($event)">
      <option *ngFor="let problem of contest.problems"
              [value]="problem.id" [label]="'Problem ' + problem.label + ' - ' + problem.title"
      ></option>
    </select>
  </div>
  <div *ngIf="contest && problem">
    <div class="text-center">
      <h2>{{ getProblemLabel(problem) }} - {{ problem.title }}</h2>
      <p>
        <span *ngIf="problem.hasSpecialJudge" class="m-1 badge badge-danger">
          <fa-icon [icon]="faCoffee"></fa-icon>
          <span>Special Judge</span>
        </span>
        <span class="m-1 badge badge-warning">
          <fa-icon [icon]="faStopwatch"></fa-icon>
          <span>{{ problem.timeLimit }}ms</span>
        </span>
        <span class="m-1 badge badge-warning">
          <fa-icon [icon]="faSdCard"></fa-icon>
          <span>{{ problem.memoryLimit }}KiB</span>
        </span>
        <span class="m-1 badge badge-success">
          <fa-icon [icon]="faPaperPlane"></fa-icon>
          <span>
            {{ problem.acceptedSubmissions }}/{{ problem.totalSubmissions }}
            = {{ problem.totalSubmissions ? (problem.acceptedSubmissions / problem.totalSubmissions * 100 | number : '1.1-1') : '0.0' }}
            %
          </span>
        </span>
      </p>
    </div>
    <app-submission-creator [problem]="problem"></app-submission-creator>
    <app-submission-timeline [problem]="problem"></app-submission-timeline>

    <h3 class="mt-5">Description</h3>
    <markdown [data]="problem.description" katex></markdown>
    <h3 class="mt-5">Input Format</h3>
    <markdown [data]="problem.inputFormat" katex></markdown>
    <h3 class="mt-5">Output Format</h3>
    <markdown [data]="problem.outputFormat" katex></markdown>
    <h3 class="mt-5">Sample Cases</h3>
    <table *ngFor="let sample of problem.sampleCases" class="table table-bordered">
      <thead>
      <tr>
        <th scope="col" style="width: 50%;">
          <span>Input</span>
          <span class="float-right">
            <a class="btn btn-sm" ngxClipboard [cbContent]="sample.input"
               ngbTooltip="Copied!" triggers="click:blur">
              <fa-icon [icon]="faCopy" class="mr-0"></fa-icon>
            </a>
          </span>
        </th>
        <th scope="col" style="width: 50%;">
          <span>Output</span>
          <span class="float-right">
            <a class="btn btn-sm" ngxClipboard [cbContent]="sample.output"
               ngbTooltip="Copied!" triggers="click:blur">
              <fa-icon [icon]="faCopy" class="mr-0"></fa-icon>
            </a>
          </span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <pre>{{ sample.input }}</pre>
        </td>
        <td>
          <pre>{{ sample.output }}</pre>
        </td>
      </tr>
      </tbody>
    </table>
    <ng-container *ngIf="problem.footNote">
      <h3 class="mt-5">Foot Note</h3>
      <markdown [data]="problem.footNote" katex></markdown>
    </ng-container>
  </div>

</ng-template>
