<app-header-main *ngIf="!inline"></app-header-main>
<div class="container my-5">
  <div class="text-center" *ngIf="inline && contest">
    <h2>
      {{ contest.title }}
    </h2>
    <p>
      {{ contest.beginTime.format('YYYY-MM-DD HH:mm') }}
      - {{ contest.endTime.format('YYYY-MM-DD HH:mm') }}
    </p>
  </div>
  <h2>评测情况</h2>
  <div class="row">
    <div class="col col-12 col-lg-4">
      <input class="form-control" placeholder="选手ID" [(ngModel)]="contestantId"/>
    </div>
    <div class="col col-12 col-lg-2">
      <input *ngIf="!inline" class="form-control" placeholder="题目编号" [(ngModel)]="problemId"/>
      <select *ngIf="inline && contest" class="form-control custom-select" [(ngModel)]="problemId">
        <option value="undefined" label="任意题目"></option>
        <ng-container *ngIf="!!contest">
          <option *ngFor="let problem of contest.problems" [value]="problem.id"
                  [label]="problem.label + ': ' + problem.title"
          ></option>
        </ng-container>
      </select>
    </div>
    <div class="col col-12 col-lg-2">
      <select class="form-control custom-select" [(ngModel)]="verdict">
        <option value=-10 label="任意结果" selected></option>
        <option *ngFor="let verdict of Verdicts" [value]="verdict.code" [label]="verdict.name"></option>
      </select>
    </div>
    <div class="col col-12 col-lg-2">
      <button class="btn btn-outline-success w-100" [disabled]="loading" (click)="onQueryParamsChange()">
        <fa-icon [icon]="faSearch"></fa-icon>
        <span>搜索</span>
      </button>
    </div>
    <div class="col col-12 col-lg-2">
      <button class="btn btn-outline-primary w-100" [disabled]="loading" (click)="loadSubmissions()">
        <fa-icon [icon]="faSyncAlt"></fa-icon>
        <span>刷新</span>
      </button>
    </div>
  </div>
  <table class="table table-hover my-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">选手</th>
      <th scope="col">题目</th>
      <th scope="col">评测结果</th>
      <th scope="col">得分</th>
      <th scope="col">标记</th>
      <th scope="col">运行时间</th>
      <th scope="col">运行内存</th>
      <th scope="col">编程语言</th>
      <th scope="col">字节数</th>
      <th scope="col">提交时间</th>
    </tr>
    </thead>
    <tbody *ngIf="!!list">
    <tr *ngFor="let submission of list.items">
      <th scope="row">{{ submission.id }}</th>
      <td>{{ submission.contestantId }}</td>
      <td>{{ inline ? getProblemLabel(submission.problemId) : submission.problemId }}</td>
      <td>
        <verdict [submission]="submission"></verdict>
      </td>
      <td>
        <span *ngIf="!submission.hasInput">{{ submission.score }}</span>
      </td>
      <td>
        <span *ngIf="!submission.hasInput && !submission.isValid">X</span>
        <span *ngIf="submission.hasInput">T</span>
      </td>
      <td>{{ submission.time }}{{ !!submission.time ? 'ms' : '' }}</td>
      <td>{{ submission.memory }}{{ !!submission.memory ? 'KiB' : '' }}</td>
      <td>
        <a *ngIf="submission.viewable; else cannotView"
           [href]="'/submission/' + submission.id"
           (click)="$event.preventDefault(); viewSubmissionPopup(submission)">
          {{ submission.languageInfo.name }}
        </a>
        <ng-template #cannotView>{{ submission.languageInfo.name }}</ng-template>
      </td>
      <td>{{ submission.codeBytes }}{{ !!submission.codeBytes ? 'B' : '' }}</td>
      <td>{{ submission.createdAtMoment.format('YYYY-MM-DD HH:mm') }}</td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="!!list" class="d-flex justify-content-center">
    <ngb-pagination [collectionSize]="list.totalItems" [page]="list.pageIndex" [rotate]="true" [maxSize]="5"
                    [pageSize]="list.pageSize" (pageChange)="onPageChange($event)">
    </ngb-pagination>
  </div>
</div>
<app-footer-main *ngIf="!inline"></app-footer-main>
