<h2>Current Contests</h2>
<div *ngIf="contests == null; else contestsLoaded" class="spinner-border" role="status"></div>
<ng-template #contestsLoaded>
  <ng-template #contestsEmpty>
    <div class="text-center">
      <h3 class="text-secondary">
        <fa-icon [icon]="faBoxOpen"></fa-icon>
      </h3>
      <p>No contests now.</p>
    </div>
  </ng-template>
  <ng-container *ngIf="contests.length; else contestsEmpty">
    <div *ngFor="let contest of contests" class="card text-center mt-3">
      <div class="card-body">
        <h5 class="card-title">{{ contest.title }}</h5>
        <p class="mb-2">
          <ng-container #contestIsRunning *ngIf="now >= contest.beginTime; else contestIsPending">
            <ng-container *ngIf="(contest.isPublic || contest.registered); else contestIsPrivate">
              <a class="btn btn-sm btn-success" [routerLink]="['/contest', contest.id]">
                <fa-icon [icon]="faSignInAlt"></fa-icon><span>Enter</span>
              </a>
            </ng-container>
            <ng-template #contestIsPrivate>
              <a class="btn btn-sm btn-outline-danger disabled">
                <fa-icon [icon]="faLock"></fa-icon><span>Private</span>
              </a>
            </ng-template>
          </ng-container>
          <ng-template #contestIsPending>
            <a class="btn btn-sm btn-outline-secondary disabled">
              <fa-icon [icon]="faClock"></fa-icon><span>Pending</span>
            </a>
          </ng-template>
        </p>
        <p class="mb-0">
          <small>
            {{ contest.beginTime.format('yyyy-MM-DD HH:mm') }}
            - {{ contest.endTime.format('yyyy-MM-DD HH:mm') }}
          </small>
        </p>
      </div>
    </div>
  </ng-container>
</ng-template>
