{
  "ConnectionStrings": {
    "SqliteConnection": "DataSource=app.db;",
    "SqlExpressConnection": "Server=localhost\\SQLEXPRESS;Database=judge1;User Id=judge1;Password=judge1;",
    "HangfireConnection": "Server=localhost\\SQLEXPRESS;Database=hangfire;User Id=hangfire;Password=hangfire;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information",
      "Hangfire": "Information"
    }
  },
  "IdentityServer": {
    "Key": {
      "Type": "File",
      "FileName": "identity.pfx",
      "Password": "identity"
    },
    "Clients": {
      "Judge1": {
        "Profile": "IdentityServerSPA"
      }
    }
  },
  "AdminUser": {
    "Email": "admin@judge1.local",
    "Password": "password"
  },
  "AllowedHosts": "*"
}
