{
  "ConnectionStrings": {
    "SqliteConnection": "DataSource=app.db;",
    "MySqlConnection": "Server=mariadb;Uid=root;Pwd=root;Database=judge1",
    "HangfireConnection": "Server=mariadb;Uid=root;Pwd=root;Database=hangfire;"
  },
  "Application": {
    "Host": "https://judge1",
    "Title": "Judge1",
    "Author": "Judge1 Developers",
    "MessageOfTheDay": "Hello, world!",
    "AdminUser": {
      "Email": "admin@judge1.local",
      "Password": "password",
      "ContestantId": "admin",
      "ContestantName": "admin"
    }
  },
  "Judging": {
    "DataPath": "/var/www/judge-data",
    "Instances": [
      {
        "Name": "local",
        "Endpoint": "http://judge0",
        "AuthUser": "judge1",
        "AuthToken": "judge1"
      }
    ]
  },
  "Notification": {
    "DingTalk": {
      "Enabled": false,
      "Token": "",
      "Secret": "",
      "Admins": []
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information",
      "Hangfire": "Information"
    }
  },
  "IdentityServer": {
    "Key": {
      "Type": "File",
      "FilePath": "identity.pfx",
      "Password": "identity"
    },
    "Clients": {
      "Judge1": {
        "Profile": "IdentityServerSPA"
      }
    }
  },
  "AllowedHosts": "*"
}
