<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contests</li>
  </ol>
</nav>
<h2>
  List Contests
  <span class="float-right">
    <a routerLink="/admin/contest/new" class="btn btn-primary">
      <fa-icon [icon]="faPlus"></fa-icon><span>Create</span>
    </a>
  </span>
</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Title</th>
    <th scope="col">Type</th>
    <th scope="col">Mode</th>
    <th scope="col">Period</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody *ngIf="!!list">
  <tr *ngFor="let contest of list.items">
    <th scope="row">{{ contest.id }}</th>
    <td>{{ contest.title }}</td>
    <td>
      <span *ngIf="contest.isPublic" class="text-success">Public</span>
      <span *ngIf="!contest.isPublic" class="text-danger">Private</span>
    </td>
    <td>
      <ng-container [ngSwitch]="contest.mode">
        <span *ngSwitchCase="ContestMode.Practice">Practice/Exam</span>
        <span *ngSwitchCase="ContestMode.UntilFail">Until Fail (ICPC Mode)</span>
        <span *ngSwitchCase="ContestMode.OneShot">One Shot (OI Mode)</span>
        <span *ngSwitchCase="ContestMode.SampleOnly">Sample Only (CF Mode)</span>
      </ng-container>
    </td>
    <td>
      {{ contest.beginTime.format('YYYY-MM-DD HH:mm') }} - {{ contest.endTime.format('YYYY-MM-DD HH:mm') }}
    </td>
    <td><a [routerLink]="['/admin/contest', contest.id]">View</a></td>
  </tr>
  </tbody>
</table>
<div *ngIf="!!list" class="d-flex justify-content-end">
  <ngb-pagination [collectionSize]="list.totalItems" [page]="list.pageIndex" [rotate]="true" [maxSize]="5"
                  [pageSize]="list.pageSize" (pageChange)="onPageIndexChange($event)">
  </ngb-pagination>
</div>

