<span style="float: left;">
  <span style="margin-right: 0.5rem;" [ngSwitch]="verdict.stage">
    <ng-container *ngSwitchCase="-1">
      <mat-icon inline="true" class="text-warning">warning</mat-icon>
    </ng-container>
    <ng-container *ngSwitchCase="0">
      <mat-icon inline="true" class="text-primary">access_time</mat-icon>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <mat-icon inline="true" class="text-success">check</mat-icon>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <mat-icon inline="true" class="text-danger">clear</mat-icon>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <mat-icon inline="true" class="text-warning">help_outline</mat-icon>
    </ng-container>
  </span>
  <strong style="margin-right: 0.5rem;">#{{ submission.id }}</strong>
  <span [matTooltip]="verdict.explain">
    <ng-container *ngIf="submission.lastTestCase < 0 && verdict.stage === 2; else notFailedOnSample">
      Sample Failed: {{ verdict.name | abbreviate }}
    </ng-container>
    <ng-template #notFailedOnSample>
      {{ verdict.name }}
      <span *ngIf="verdict.showCase">
        on Test {{ submission.lastTestCase }}
      </span>
    </ng-template>
  </span>
</span>
