WEBAPP_VERSION=
WORKER_VERSION=

HTTP_PORT_HOST=80
DATA_PATH_HOST=./data

VOLUMES_DRIVER=local
NETWORKS_DRIVER=bridge
COMPOSE_FILE=docker-compose.yml
COMPOSE_PATH_SEPARATOR=:
COMPOSE_PROJECT_NAME=judge

MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
