<ng-container *ngIf="problem && submissions">
  <div *ngIf="submissions.length === 0; else submissionsTable" class="text-center text-secondary my-3">
    <ng-container *ngIf="begun; else notBegun">
      <h3>
        <fa-icon [icon]="faBoxOpen"></fa-icon>
      </h3>
      <p>You haven't tried this problem.</p>
    </ng-container>
    <ng-template #notBegun>
      <div class="text-center text-secondary my-3">
        <h3>
          <fa-icon [icon]="faClock"></fa-icon>
        </h3>
        <p>Submissions are only available in <a [routerLink]="['/admin/submission']">admin pages</a> before contest.</p>
      </div>
    </ng-template>
  </div>
  <ng-template #submissionsTable>
    <div class="my-3">
      <div class="alert alert-info" *ngIf="this.averageTime != null && this.averageTime >= 0">
        <fa-icon [icon]="faClock"></fa-icon>
        Average waiting time:
        <span *ngIf="this.averageTime >= 60; else lessThanAMinute">
          {{ (this.averageTime - (this.averageTime % 60)) / 60 + 1 }} minutes
        </span>
        <ng-template #lessThanAMinute>
          less than one minute
        </ng-template>
        <a class="float-right" href="javascript:void(0)" (click)="loadAverageTime()">Refresh</a>
      </div>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Verdict</th>
          <th scope="col">Score</th>
          <ng-container *ngIf="problem.type === 0">
            <th scope="col">Time</th>
            <th scope="col">Memory</th>
          </ng-container>
          <th scope="col">Lang</th>
          <th scope="col">Submitted</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let submission of submissions">
          <th scope="row">{{ submission.id }}</th>
          <td>
            <verdict [submission]="submission"></verdict>
          </td>
          <td>{{ submission.score }}</td>
          <ng-container *ngIf="problem.type === 0">
            <td [ngClass]="{'text-danger': !!problem && submission.time >= problem.timeLimit}">
              {{ submission.time }}
            </td>
            <td [ngClass]="{'text-danger': !!problem && submission.memory >= problem.memoryLimit}">
              {{ submission.memory }}
            </td>
          </ng-container>
          <td>
            <ng-container *ngIf="submission.viewable; else notViewable">
              <a [href]="'/submission/' + submission.id"
                 (click)="$event.preventDefault(); viewSubmissionPopup(submission)">
                {{ submission.languageInfo.name }}
              </a>
            </ng-container>
            <ng-template #notViewable>
              <span>{{ submission.languageInfo.name }}</span>
            </ng-template>
          </td>
          <td>{{ submission.createdAtMoment.format('MM-DD HH:mm') }}</td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="totalPages > 1" class="d-flex justify-content-end">
        <ngb-pagination [collectionSize]="totalItems" [page]="pageIndex"
                        [pageSize]="15" (pageChange)="changePage($event)">
        </ngb-pagination>
      </div>
    </div>
  </ng-template>
</ng-container>
