<ng-container *ngIf="problem && submissions">
  <div *ngIf="submissions.length === 0; else submissionsTable" class="text-center text-secondary my-3">
    <h3>
      <fa-icon [icon]="faBoxOpen"></fa-icon>
    </h3>
    <p>你还没有尝试过这道题目。</p>
  </div>
  <ng-template #submissionsTable>
    <div class="my-3">
      <div class="alert alert-info" *ngIf="this.averageTime != null && this.averageTime >= 0">
        <fa-icon [icon]="faClock"></fa-icon>
        平均等待时长（仅供参考）：
        <span *ngIf="this.averageTime >= 60; else lessThanAMinute">
          {{ (this.averageTime - (this.averageTime % 60)) / 60 + 1 }}分钟。
        </span>
        <ng-template #lessThanAMinute>
          小于1分钟。
        </ng-template>
      </div>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">评测结果</th>
          <th scope="col">得分</th>
          <th scope="col">标记</th>
          <ng-container *ngIf="problem.type === 0">
            <th scope="col">运行时间</th>
            <th scope="col">运行内存</th>
          </ng-container>
          <th scope="col">编程语言</th>
          <th scope="col">提交时间</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let submission of submissions">
          <th scope="row">{{ submission.id }}</th>
          <td>
            <verdict [submission]="submission"></verdict>
          </td>
          <td>
            <ng-container *ngIf="!submission.hasInput">{{ submission.score }}</ng-container>
          </td>
          <td>
            <span *ngIf="!submission.hasInput && submission.score === 0 && submission.failedOn === 0"
              class="text-danger">
              S
            </span>
            <span *ngIf="submission.hasInput">T</span>
          </td>
          <ng-container *ngIf="problem.type === 0">
            <td [ngClass]="{'text-danger': !!problem && submission.time >= problem.timeLimit}">
              {{ submission.time }}{{ submission.time != null ? 'ms' : '' }}
            </td>
            <td [ngClass]="{'text-danger': !!problem && submission.memory >= problem.memoryLimit}">
              {{ submission.memory }}{{ submission.memory != null ? 'KiB' : '' }}
            </td>
          </ng-container>
          <td>
            <ng-container *ngIf="submission.viewable; else notViewable">
              <a [href]="'/submission/' + submission.id"
                 (click)="$event.preventDefault(); viewSubmissionPopup(submission)">
                {{ submission.languageInfo.name }}
              </a>
            </ng-container>
            <ng-template #notViewable>
              <span>{{ submission.languageInfo.name }}</span>
            </ng-template>
          </td>
          <td>{{ submission.createdAtMoment.format('MM-DD HH:mm') }}</td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="totalPages > 1" class="d-flex justify-content-end">
        <ngb-pagination [collectionSize]="totalItems" [page]="pageIndex"
                        [pageSize]="15" (pageChange)="changePage($event)">
        </ngb-pagination>
      </div>
    </div>
  </ng-template>
</ng-container>
