/* You can add global styles to this file, and also import other style files */

@import "styles/colors";
@import "styles/textcolors";
@import "styles/backgrounds";
@import "styles/typography";

html, body {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none !important;
}

.flex-spacer {
  flex-grow: 1;
}

.container {
  padding: 20px 50px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
