/* You can add global styles to this file, and also import other style files */

@import "styles/colors";
@import "styles/textcolors";
@import "styles/backgrounds";

*:focus {
  outline: none !important;
}

.flex-spacer {
  flex-grow: 1;
}

.container {
  padding: 20px 50px;
}
