<div *ngIf="message | async" class="container my-5 text-center">
  <h1 class="text-secondary">
    <fa-icon [icon]="faExclamationCircle" class="mr-0"></fa-icon>
  </h1>
  <h3 class="text-secondary">Error Occurred</h3>
  <p>Error message: <code>{{ message.getValue() }}</code></p>
  <p><a class="btn btn-secondary" routerLink="/"><fa-icon [icon]="faHome"></fa-icon>Back Home</a></p>
  <div class="alert alert-warning py-3 my-5" role="alert">
    <p><fa-icon [icon]="faClock"></fa-icon>请首先检查系统时间是否正确，OAuth对密钥有效期有严格要求。</p>
    <p>浏览器时间：{{ localNow.format('YYYY-MM-DD HH:mm:ss') }}</p>
    <p>服务器时间：{{ serverNow.format('YYYY-MM-DD HH:mm:ss') }}</p>
    <p class="mb-2">如时间正确但问题仍然存在，请与管理员联系并提供F12开发者控制台输出。</p>
  </div>
</div>
