<app-header-main *ngIf="!inline"></app-header-main>
<div class="container my-5">
  <div class="text-center" *ngIf="inline && contest">
    <h2>
      {{ contest.title }}
    </h2>
    <p>
      {{ contest.beginTime.format('YYYY-MM-DD HH:mm') }}
      - {{ contest.endTime.format('YYYY-MM-DD HH:mm') }}
    </p>
  </div>
  <h2>Submissions</h2>
  <div class="row">
    <div class="col col-12 col-lg-4">
      <input class="form-control" placeholder="Contestant ID" [(ngModel)]="contestantId"/>
    </div>
    <div class="col col-12 col-lg-2">
      <input *ngIf="!inline" class="form-control" placeholder="Problem ID" [(ngModel)]="problemId"/>
      <select *ngIf="inline && contest" class="form-control custom-select" [(ngModel)]="problemId">
        <option value="undefined" label="Any Problem"></option>
        <ng-container *ngIf="!!contest">
          <option *ngFor="let problem of contest.problems" [value]="problem.id"
                  [label]="problem.label + ': ' + problem.title"
          ></option>
        </ng-container>
      </select>
    </div>
    <div class="col col-12 col-lg-2">
      <select class="form-control custom-select" [(ngModel)]="verdict">
        <option value="undefined" label="Any Verdict" selected></option>
        <option *ngFor="let verdict of Verdicts" [value]="verdict.code" [label]="verdict.name"></option>
      </select>
    </div>
    <div class="col col-12 col-lg-2">
      <button class="btn btn-outline-success w-100" [disabled]="loading" (click)="onQueryParamsChange()">
        <fa-icon [icon]="faSearch"></fa-icon>
        <span>Search</span>
      </button>
    </div>
    <div class="col col-12 col-lg-2">
      <button class="btn btn-outline-primary w-100" [disabled]="loading" (click)="loadSubmissions()">
        <fa-icon [icon]="faSyncAlt"></fa-icon>
        <span>Refresh</span>
      </button>
    </div>
  </div>
  <table class="table table-hover my-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Contestant</th>
      <th scope="col">Problem</th>
      <th scope="col">Verdict</th>
      <th scope="col">Time</th>
      <th scope="col">Memory</th>
      <th scope="col">Language</th>
      <th scope="col">Bytes</th>
      <th scope="col">Submitted</th>
    </tr>
    </thead>
    <tbody *ngIf="!!list">
    <tr *ngFor="let submission of list.items">
      <th scope="row">{{ submission.id }}</th>
      <td>{{ submission.contestantId }}</td>
      <td>{{ inline ? getProblemLabel(submission.problemId) : submission.problemId }}</td>
      <td>
        <verdict [submission]="submission"></verdict>
      </td>
      <td>{{ submission.time }}</td>
      <td>{{ submission.memory }}</td>
      <td>
        <a *ngIf="submission.viewable; else cannotView"
           [href]="'/submission/' + submission.id"
           (click)="$event.preventDefault(); viewSubmissionPopup(submission)">
          {{ submission.languageInfo.name }}
        </a>
        <ng-template #cannotView>{{ submission.languageInfo.name }}</ng-template>
      </td>
      <td>{{ submission.codeBytes }}</td>
      <td>{{ submission.createdAtMoment.format('YYYY-MM-DD HH:mm') }}</td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="!!list" class="d-flex justify-content-center">
    <ngb-pagination [collectionSize]="list.totalItems" [page]="list.pageIndex" [rotate]="true" [maxSize]="5"
                    [pageSize]="list.pageSize" (pageChange)="onPageChange($event)">
    </ngb-pagination>
  </div>
</div>
<app-footer-main *ngIf="!inline"></app-footer-main>
