<form nz-form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="title">Title</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="title" id="title"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="description" id="description" rows="5"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="accessibility">Accessibility</nz-form-label>
    <nz-form-control>
      <label nz-checkbox formControlName="isPublic">Public Access</label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="mode">Mode</nz-form-label>
    <nz-form-control>
      <nz-select formControlName="mode" id="mode" nzPlaceHolder="Mode">
        <nz-option nzValue="0" nzLabel="Practice/Exam"></nz-option>
        <nz-option nzValue="1" nzLabel="One Shot (ICPC)"></nz-option>
        <nz-option nzValue="2" nzLabel="Until Fail (OI Mode)"></nz-option>
        <nz-option nzValue="3" nzLabel="Samples Only (CF Mode)"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired nzFor="period">Period</nz-form-label>
    <nz-range-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm"
                     [nzPlaceHolder]="['Begin Time', 'End Time']" formControlName="period"
    ></nz-range-picker>
  </nz-form-item>
  <div nz-row>
    <div nz-col nzSpan="24">
      <button nz-button nzType="primary" [disabled]="!form.valid" type="submit" style="width: 100%;">Submit</button>
    </div>
  </div>
</form>
