<div class="container my-5">
  <ng-container *ngIf="contest">
    <div class="text-center">
      <h2>
        {{ contest.title }}
      </h2>
      <p>
        {{ contest.beginTime.format('YYYY-MM-DD HH:mm') }}
        - {{ contest.endTime.format('YYYY-MM-DD HH:mm') }}
      </p>
      <span *ngIf="privileged" style="float: right;">
        <a class="btn btn-sm btn-outline-danger" [routerLink]="['/admin/contest', contestId]">
          <fa-icon [icon]="faEdit"></fa-icon><span>Edit Contest</span>
        </a>
      </span>
    </div>
    <markdown [data]="contest.description" katex></markdown>
    <div *ngIf="contest.problems.length === 0; else contestProblems">
      <div class="text-center">
        <h3 class="text-secondary">
          <fa-icon [icon]="faBoxOpen"></fa-icon>
        </h3>
        <p>This contest has no problem.</p>
      </div>
    </div>
    <ng-template #contestProblems>
      <table class="table my-5">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Status</th>
          <th scope="col">Statistics</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let problem of contest.problems">
          <th scope="row">{{ problem.label }}</th>
          <td><a [routerLink]="['/contest', contestId, 'problem', problem.id]">{{ problem.title }}</a></td>
          <td>
            <span *ngIf="problem.solved" class="text-success">
              <fa-icon [icon]="faCheck"></fa-icon><span>Solved</span>
            </span>
          </td>
          <td>{{ problem.acceptedSubmissions }} / {{ problem.totalSubmissions }}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ng-container>
</div>
