<div id="code-editor" appCodeEditor (ctrlS)="saveCode()"
     style="width: 100%; height: calc(100% - 64px); font-size: 18px"
></div>
<mat-toolbar>
  <mat-form-field appearance="standard" style="font-size: 0.65rem; width: 6rem;">
    <mat-label>Language</mat-label>
    <mat-select [value]="currentLanguage ? currentLanguage.code : -1"
                (selectionChange)="changeLanguage($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let language of languages" [value]="language.code">
        {{ language.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button style="margin-left: 1rem;">
    <mat-icon>publish</mat-icon><span>Upload</span>
  </button>
  <div class="flex-spacer"></div>
  <mat-slide-toggle style="margin-right: 1rem;">
    <small>Self-test</small>
  </mat-slide-toggle>
  <button mat-flat-button color="primary" >Submit</button>
</mat-toolbar>
