<div id="code-editor" appCodeEditor (ctrlS)="saveCode(problem.id, true)"
     style="width: 100%; height: calc(100% - 64px); font-size: 18px;"
></div>
<mat-toolbar>
  <mat-form-field appearance="standard" style="font-size: 0.65rem; width: 6rem;">
    <mat-label>Language</mat-label>
    <mat-select [value]="currentLanguage ? currentLanguage.code : -1"
                (selectionChange)="changeLanguage($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let language of languages" [value]="language.code">
        {{ language.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <input #uploadCodeInput id="upload-code-file" type="file" style="display: none;"
         onClick="this.value = null" (change)="uploadCode($event)"/>
  <button mat-button style="margin-left: 1rem;" (click)="uploadCodeInput.click()">
    <mat-icon>publish</mat-icon>
    <span>Upload</span>
  </button>
  <button mat-button (click)="saveCode(problem.id, true)">
    <mat-icon>save</mat-icon>
    <span>Save</span>
  </button>
  <div class="flex-spacer"></div>
  <button mat-button color="primary" style="margin-right: 1rem;" disabled>Test</button>
  <button mat-flat-button color="primary"
          [disabled]="!(canSubmit && editor.getValue())"
          (click)="submitCode(problem)"
  >Submit</button>
</mat-toolbar>
