<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/user">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page"><span *ngIf="user">{{ user.email }}</span></li>
  </ol>
</nav>
<h2>
  {{ edit ? 'Edit' : 'View' }} User <span *ngIf="user">{{ user.email }}</span>
  <span style="float: right;">
    <button *ngIf="!edit" class="btn btn-primary mr-2" (click)="editUser()">
      <fa-icon [icon]="faEdit"></fa-icon><span>Edit</span>
    </button>
    <button class="btn btn-outline-danger" (click)="deleteUser()">
      <fa-icon [icon]="faTrash"></fa-icon><span>Delete</span>
    </button>
  </span>
</h2>
<app-admin-user-form *ngIf="user"
                     [user]="user" [disabled]="!edit"
                     (formSubmit)="updateUser($event)"
></app-admin-user-form>
