<h2>Registrations of Contest <span *ngIf="contest">#{{ contest.id }}</span></h2>
<hr/>
<form>
  <div class="form-group row">
    <label for="contest-id" class="col col-md-2 col-form-label">Copy From Contest *</label>
    <div class="col col-md-8">
      <input #copyInput id="contest-id" class="form-control" placeholder="Another Contest ID"/>
    </div>
    <div class="col col-md-2">
      <button class="btn btn-primary w-100" [disabled]="!copyInput.value"
              (click)="copyRegistrations(copyInput.value)">
        <fa-icon [icon]="faCopy"></fa-icon>
        <span>Copy</span>
      </button>
    </div>
  </div>
</form>
<hr/>
<div class="form-group row">
  <label class="col col-md-2 col-form-label">Registration options</label>
  <div class="col col-md-10 py-2">
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" id="is-participant" [(ngModel)]="isParticipant">
      <label class="form-check-label" for="is-participant">As Participant</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" id="is-contest-manager" [(ngModel)]="isContestManager">
      <label class="form-check-label" for="is-contest-manager">As Contest Manager</label>
    </div>
  </div>
</div>
<table class="table table-sm table-hover">
  <thead>
  <tr>
    <th scope="col">Contestant ID</th>
    <th scope="col">Contestant Name</th>
    <th scope="col">Registered</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody *ngIf="list">
  <tr *ngFor="let user of list.items">
    <th scope="row">
      <a [routerLink]="['/admin/user', user.id]">{{ user.contestantId }}</a>
    </th>
    <td>{{ user.contestantName }}</td>
    <ng-container *ngIf="getUserRegistrationType(user.id) as type; else notRegistered">
      <td><span [class]="type[0]">{{ type[1] }}</span></td>
      <td>
        <a class="text-danger" (click)="removeRegistration(user.id)">
          <fa-icon [icon]="faTimes"></fa-icon>
          <span>Remove</span>
        </a>
      </td>
    </ng-container>
    <ng-template #notRegistered>
      <td></td>
      <td>
        <a class="text-success" (click)="addRegistration(user.id)">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span>Add</span>
        </a>
      </td>
    </ng-template>
  </tr>
  </tbody>
</table>
<div *ngIf="!!list" class="d-flex justify-content-end">
  <ngb-pagination [collectionSize]="list.totalItems" [page]="list.pageIndex" [rotate]="true" [maxSize]="5"
                  [pageSize]="list.pageSize" (pageChange)="onPageIndexChange($event)">
  </ngb-pagination>
</div>
