<h2>Submissions</h2>
<nz-table #submissionsTable *ngIf="list"
          [nzData]="list.items" [nzFrontPagination]="false"
          [nzTotal]="list.totalPages" [nzPageSize]="list.pageSize" [nzPageIndex]="pageIndex"
          (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
  <tr>
    <th nzColumnKey="id">ID</th>
    <th nzColumnKey="problemId" [nzFilters]="problemFilterList" [nzFilterMultiple]="false" [nzFilterFn]="true">
      Problem
    </th>
    <th nzColumnKey="language">Language</th>
    <th nzColumnKey="codeLength">Length</th>
    <th nzColumnKey="verdict" [nzFilters]="verdictFilterList" [nzFilterMultiple]="false" [nzFilterFn]="true">
      Verdict
    </th>
    <th nzColumnKey="createdAt">Created At</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let submission of submissionsTable.data">
    <td>{{ submission.id }}</td>
    <td>{{ getProblemLabel(submission.problemId) }}</td>
    <td>{{ submission.language.name }}</td>
    <td>{{ submission.codeLength }} bytes</td>
    <td>
      <nz-tag [nzColor]="submission.verdict.color">{{ submission.verdict.name }}</nz-tag>
    </td>
    <td>{{ submission.createdAt.format('YYYY-MM-DD HH:mm') }}</td>
  </tr>
  </tbody>
</nz-table>
