<h2>Submissions</h2>
<nz-table #submissionsTable *ngIf="list"
          [nzData]="list.items" [nzFrontPagination]="false"
          [nzTotal]="list.totalPages" [nzPageSize]="list.pageSize" [nzPageIndex]="pageIndex"
          (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
  <tr>
    <th nzColumnKey="id">ID</th>
    <th nzColumnKey="contestantId">
      Contestant
    </th>
    <th nzColumnKey="problemId" [nzFilters]="problemFilterList" [nzFilterMultiple]="false" [nzFilterFn]="true">
      Problem
    </th>
    <th nzColumnKey="verdict" [nzFilters]="verdictFilterList" [nzFilterMultiple]="false" [nzFilterFn]="true">
      Verdict
    </th>
    <th nzColumnKey="time">Time</th>
    <th nzColumnKey="memory">Memory</th>
    <th nzColumnKey="language">Language</th>
    <th nzColumnKey="codeBytes">Length</th>
    <th nzColumnKey="createdAt">Created At</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let submission of submissionsTable.data">
    <td>{{ submission.id }}</td>
    <td>{{ submission.contestantId }}</td>
    <td>{{ getProblemLabel(submission.problemId) }}</td>
    <td>
      <nz-tag [nzColor]="submission.verdict.color">
        {{ submission.verdict.name }}
        <span *ngIf="notAnValidAttempt(submission)">*</span>
      </nz-tag>
    </td>
    <td>{{ submission.time }}</td>
    <td>{{ submission.memory }}</td>
    <td>{{ submission.language.name }}</td>
    <td>{{ submission.codeBytes }} bytes</td>
    <td>{{ submission.createdAt.format('YYYY-MM-DD HH:mm') }}</td>
  </tr>
  </tbody>
</nz-table>
