<h2>当前作业</h2>
<div *ngIf="contests == null; else contestsLoaded" class="spinner-border" role="status"></div>
<ng-template #contestsLoaded>
  <ng-template #contestsEmpty>
    <div class="text-center">
      <h3 class="text-secondary">
        <fa-icon [icon]="faBoxOpen"></fa-icon>
      </h3>
      <p>目前没有作业。</p>
    </div>
  </ng-template>
  <ng-container *ngIf="contests.length; else contestsEmpty">
    <div *ngFor="let contest of contests" class="card text-center mt-3">
      <div class="card-body">
        <h5 class="card-title">{{ contest.title }}</h5>
        <p class="mb-2">
          <a *ngIf="canEnterContest(contest); else cannotEnterContest"
             [class]="'btn btn-sm btn-' + (privileged && now.isBefore(contest.beginTime) ? 'warning' : 'success')"
             [routerLink]="['/contest', contest.id]">
            <fa-icon [icon]="faSignInAlt"></fa-icon>
            <span>进入作业</span>
          </a>
          <ng-template #cannotEnterContest>
            <a *ngIf="now.isAfter(contest.beginTime); else contestPending"
               class="btn btn-sm btn-outline-danger disabled">
              <fa-icon [icon]="faLock"></fa-icon>
              <span>私有作业</span>
            </a>
            <ng-template #contestPending>
              <a class="btn btn-sm btn-outline-secondary disabled">
                <fa-icon [icon]="faClock"></fa-icon>
                <span>即将开始</span>
              </a>
            </ng-template>
          </ng-template>
        </p>
        <p class="mb-0">
          <small>
            {{ contest.beginTime.format('YYYY-MM-DD HH:mm') }}
            - {{ contest.endTime.format('YYYY-MM-DD HH:mm') }}
          </small>
        </p>
      </div>
    </div>
  </ng-container>
</ng-template>
