<form class="my-3" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <div class="form-group row">
    <label for="user-id" class="col col-md-2 col-form-label">User ID</label>
    <div class="col col-md-10">
      <input class="form-control" id="user-id" formControlName="userId" [disabled]="true"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="problem-id" class="col col-md-2 col-form-label">Problem ID</label>
    <div class="col col-md-10">
      <input class="form-control" id="problem-id" formControlName="problemId" [disabled]="true"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="language" class="col col-md-2 col-form-label">Langauge</label>
    <div class="col col-md-10">
      <input class="form-control" id="language" formControlName="language" [disabled]="true"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-md-2 col-form-label">Code</label>
    <div class="col col-md-10" style="height: 50vh;">
      <editor [program]="submission.program"></editor>
    </div>
  </div>
  <div class="form-group row">
    <label for="verdict" class="col col-md-2 col-form-label">IsValid</label>
    <div class="col col-md-10">
      <input class="form-control" id="is-valid" formControlName="isValid" [disabled]="true"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="verdict" class="col col-md-2 col-form-label">Verdict *</label>
    <div class="col col-md-10">
      <select id="verdict" class="custom-control custom-select" formControlName="verdict">
        <option *ngFor="let verdict of Verdicts"
                [value]="verdict.code" [label]="'[' + verdict.code + '] - ' + verdict.name">
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="time" class="col col-md-2 col-form-label">Time</label>
    <div class="col col-md-10">
      <div class="input-group">
        <input id="time" class="form-control" formControlName="time"/>
        <div class="input-group-append">
          <span class="input-group-text">ms</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="memory" class="col col-md-2 col-form-label">Memory</label>
    <div class="col col-md-10">
      <div class="input-group">
        <input id="memory" class="form-control" formControlName="memory" [disabled]="true"/>
        <div class="input-group-append">
          <span class="input-group-text">KiB</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="failed-on" class="col col-md-2 col-form-label">Failed On</label>
    <div class="col col-md-10">
      <textarea class="form-control" id="failed-on" formControlName="failedOn" [disabled]="true" rows="5"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="score" class="col col-md-2 col-form-label">Score</label>
    <div class="col col-md-10">
      <div class="input-group">
        <input id="score" class="form-control" formControlName="score" [disabled]="true"/>
        <div class="input-group-append">
          <span class="input-group-text">%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="message" class="col col-md-2 col-form-label">Message</label>
    <div class="col col-md-10">
      <textarea id="message" class="form-control monospace" formControlName="message" rows="5"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="created-at" class="col col-md-2 col-form-label">Created At</label>
    <div class="col col-md-10">
      <input class="form-control" id="created-at" formControlName="createdAt" [disabled]="true"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="judged-at" class="col col-md-2 col-form-label">Judged At</label>
    <div class="col col-md-10">
      <input class="form-control" id="judged-at" formControlName="judgedAt" [disabled]="true"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="judged-by" class="col col-md-2 col-form-label">Judged By</label>
    <div class="col col-md-10">
      <input class="form-control" id="judged-by" formControlName="judgedBy" [disabled]="true"/>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <button class="btn btn-success w-100" [disabled]="!form.valid" type="submit">
        <fa-icon [icon]="faCheck"></fa-icon>
        <span>Submit</span>
      </button>
    </div>
  </div>
</form>
