<h2>
  {{ edit ? 'Edit' : 'View' }} Problem #{{ problemId }}
  <span class="float-right">
    <button class="btn btn-primary mr-2" *ngIf="!edit" (click)="editProblem()">
      <fa-icon [icon]="faEdit"></fa-icon><span>Edit</span>
    </button>
    <button class="btn btn-outline-danger" (click)="deleteProblem()">
      <fa-icon [icon]="faTrash"></fa-icon><span>Delete</span>
    </button>
  </span>
</h2>
<app-admin-problem-form *ngIf="problem"
                        [problem]="problem" [disabled]="!edit"
                        (formSubmit)="updateProblem($event)"
></app-admin-problem-form>
