<h2>Test Cases of Problem <span *ngIf="problem">#{{ problem.id }}</span></h2>
<div nz-row nzGutter="20">
  <div nz-col nzSpan="18">
    <input #zipFileInput type="file" accept="application/zip" (change)="selectZipFile($event)"/>
    <button nz-button [nzType]="file ? 'default' : 'dashed'" (click)="zipFileInput.click()">
      {{ file ? file.name : 'Select Zip File' }}
    </button>
  </div>
  <div nz-col nzSpan="6">
    <button nz-button nzType="primary" [disabled]="!file"
            nz-popconfirm nzPopconfirmTitle="This will override all test cases. Continue?"
            (nzOnConfirm)="updateTestCases()">
      <ng-container *ngIf="!progress; else uploadProgress">
        <i nz-icon nzType="upload"></i><span>Upload</span>
      </ng-container>
      <ng-template #uploadProgress>
        {{ progress }}%
      </ng-template>
    </button>
  </div>
</div>
<nz-divider nzOrientation="left" nzText="Test Cases"></nz-divider>
<div *ngIf="testCases">
  <nz-table #testCasesTable [nzData]="testCases" [nzFrontPagination]="false">
    <thead>
    <tr>
      <th>#</th>
      <th>Input</th>
      <th>Output</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let testCase of testCasesTable.data; index as index">
      <td>{{ index + 1 }}</td>
      <td><span class="monospace">{{ testCase.input }}</span></td>
      <td><span class="monospace">{{ testCase.output }}</span></td>
    </tr>
    </tbody>
  </nz-table>
</div>
<nz-divider nzOrientation="left" nzText="Submit a Test"></nz-divider>
<nz-form-item>
  <nz-form-label nzRequired>Language</nz-form-label>
  <nz-form-control>
    <nz-select nzPlaceHolder="Language" [(ngModel)]="language" style="width: 100%;">
      <nz-option *ngFor="let language of Languages" [nzLabel]="language.name" [nzValue]="language.code"></nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label nzRequired>Source Code</nz-form-label>
  <nz-form-control>
    <textarea nz-input [(ngModel)]="code" rows="8"></textarea>
  </nz-form-control>
</nz-form-item>
<button nz-button nzType="primary" nzBlock [disabled]="!language || !code"
        [nzLoading]="submitting" (click)="submitCode()">
  <i nz-icon nzType="check"></i><span>Submit</span>
</button>
