<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/submission">Submissions</a></li>
    <li class="breadcrumb-item active" aria-current="page">#{{ submissionId }}</li>
  </ol>
</nav>
<h2>
  {{ edit ? 'Edit' : 'View' }} Submission <span *ngIf="submission">#{{ submission.id }}</span>
  <span class="float-right">
    <button class="btn btn-primary mr-2" *ngIf="!edit" (click)="editSubmission()">
      <fa-icon [icon]="faEdit"></fa-icon><span>Edit</span>
    </button>
    <button class="btn btn-outline-danger" (click)="deleteSubmission()">
      <fa-icon [icon]="faTrash"></fa-icon><span>Delete</span>
    </button>
  </span>
</h2>
<app-admin-submission-form *ngIf="submission"
                        [submission]="submission" [disabled]="!edit"
                        (formSubmit)="updateSubmission($event)"
></app-admin-submission-form>
