<div id="submission-timeline">
  <ng-template #noSubmission>
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </ng-template>
  <nz-timeline nzReverse="reverse" *ngIf="hasSubmissions; else noSubmission">
    <ng-template #submissionTimeLineItem let-submission="submission">
      <nz-timeline-item [nzColor]="submission.verdict.color">
        <nz-tag>#{{ submission.id }}</nz-tag>
        <nz-tag [nzColor]="submission.verdict.color">{{ submission.verdict.name }}</nz-tag>
        <span style="float: right;">
          <nz-tag>{{ submission.language.name }}</nz-tag>
          <nz-tag>{{ submission.codeBytes }} bytes</nz-tag>
          <nz-tag>{{ submission.createdAt.format('YYYY-MM-DD HH:mm') }}</nz-tag>
        </span>
      </nz-timeline-item>
    </ng-template>
    <ng-container *ngFor="let submission of pendingSubmissions">
      <ng-container *ngTemplateOutlet="submissionTimeLineItem; context: {submission: submission}"></ng-container>
    </ng-container>
    <ng-container *ngFor="let submission of practiceSubmissions">
      <ng-container *ngTemplateOutlet="submissionTimeLineItem; context: {submission: submission}"></ng-container>
    </ng-container>
    <ng-container *ngFor="let submission of contestSubmissions">
      <ng-container *ngTemplateOutlet="submissionTimeLineItem; context: {submission: submission}"></ng-container>
    </ng-container>
  </nz-timeline>
</div>
