<div class="container">
  <div id="assignment-view" *ngIf="assignment">
    <h1 class="text-center">{{ assignment.title }}</h1>
    <p class="text-center">
      {{ assignment.beginTime | date:'yyyy-MM-dd hh:mm' }} - {{ assignment.endTime | date:'yyyy-MM-dd hh:mm' }}
    </p>
    <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab label="Content">
        <div id="assignment-content" class="container">
          <markdown [data]="assignment.description" katex></markdown>
          <mat-card>
            <table mat-table *ngIf="assignment.problems.length > 0; else assignmentNoProblem"
                   [dataSource]="assignment.problems" style="width: 100%;">
              <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let problem">{{ problem.label }}</td>
              </ng-container>
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let problem">{{ problem.title }}</td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let problem">
                  <button mat-button>View</button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="problemColumns"></tr>
              <tr mat-row *matRowDef="let problem; columns: problemColumns;"></tr>
            </table>
            <ng-template #assignmentNoProblem>
              <p class="text-center"><mat-icon style="font-size: 2rem;">inbox</mat-icon></p>
              <p class="text-center">There is no problem in this assignment.</p>
            </ng-template>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Status">
        <!-- Lazy Loading -->
        <ng-template matTabContent>
          <p>Not implemented!!!</p>
        </ng-template>
      </mat-tab>
      <mat-tab label="RankList">
        <!-- Lazy Loading -->
        <ng-template matTabContent>
          <p>Not implemented!!!</p>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
