<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Problems</li>
  </ol>
</nav>
<h2>
  List Problems
  <span class="float-right">
    <a routerLink="/admin/problem/new" class="btn btn-primary">
      <fa-icon [icon]="faPlus"></fa-icon><span>Create / Import</span>
    </a>
  </span>
</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Contest</th>
    <th scope="col">Title</th>
    <th scope="col">Statistics</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody *ngIf="!!list">
  <tr *ngFor="let problem of list.items">
    <th scope="row">{{ problem.id }}</th>
    <td>{{ problem.contestId }}</td>
    <td>{{ problem.title }}</td>
    <td>{{ problem.acceptedContestants }} / {{ problem.totalContestants }}</td>
    <td>
      <a [routerLink]="['/admin/problem', problem.id]">View</a>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!!list" class="d-flex justify-content-end">
  <ngb-pagination [collectionSize]="list.totalItems" [page]="list.pageIndex" [rotate]="true" [maxSize]="5"
                  [pageSize]="list.pageSize" (pageChange)="onPageIndexChange($event)">
  </ngb-pagination>
</div>
