<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Title</mat-label>
    <label>
      <input matInput formControlName="title" required/>
    </label>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Description</mat-label>
    <label>
      <textarea matInput rows="5" formControlName="description" required></textarea>
    </label>
  </mat-form-field>
  <div>
    <mat-form-field appearance="fill" style="margin-right: 1%; width: 49%;">
      <mat-label>Assignment Accessibility</mat-label>
      <mat-select formControlName="isPublic" required>
        <mat-option value="0">(0) Private Access - Registration required</mat-option>
        <mat-option value="1">(1) Public Access</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left: 1%; width: 49%;">
      <mat-label>Assignment Mode</mat-label>
      <mat-select formControlName="mode" required>
        <mat-option value="0">(0) Practice</mat-option>
        <mat-option value="1">(1) One Shot - OI Mode</mat-option>
        <mat-option value="2">(2) Until Fail - ICPC Mode</mat-option>
        <mat-option value="3">(3) Samples Only - CF Mode</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" style="margin-right: 1%; width: 49%;">
      <mat-label>Begin Datetime</mat-label>
      <label>
        <input matInput type="datetime-local" formControlName="beginTime" required/>
      </label>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left: 1%; width: 49%;">
      <mat-label>End Datetime</mat-label>
      <label>
        <input matInput type="datetime-local" formControlName="endTime" required/>
      </label>
    </mat-form-field>
  </div>
  <div style="display: flex;">
    <button mat-button color="warn" type="button"
            *ngIf="assignment" [disabled]="form.disabled" (click)="deleteAssignment()">
      <mat-icon style="margin-right: 0.5rem;">delete</mat-icon><span>Delete Assignment</span>
    </button>
    <div class="flex-spacer"></div>
    <button mat-button color="primary" type="button"
            *ngIf="form.disabled" (click)="enableForm()">
      <mat-icon style="margin-right: 0.5rem;">lock_open</mat-icon><span>Enable Editing</span>
    </button>
    <button mat-button color="primary" type="submit"
            *ngIf="form.enabled" [disabled]="!form.valid">
      <mat-icon style="margin-right: 0.5rem;">check</mat-icon>
      <span *ngIf="assignment; else createAssignment">Update Assignment</span>
      <ng-template #createAssignment>
        <span>Create New Assignment</span>
      </ng-template>
    </button>
  </div>
</form>
