<div class="modal-header">
  <h2 class="d-flex">
    Submission #{{ submissionId }}
    <span class="ml-3" *ngIf="submission">
      <verdict [submission]="submission"></verdict>
    </span>
  </h2>
  <button *ngIf="!standalone" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <ng-container *ngIf="submission">
    <div>
      <h3>Info</h3>
      <pre>{{ submission.comments }}</pre>
    </div>
    <div *ngIf="!!submission.message">
      <h3>Message</h3>
      <pre>{{ submission.message }}</pre>
    </div>
    <div>
      <h3>
        Source
        <button class="float-right btn btn-sm btn-outline-primary" (click)="downloadSubmission()">
          <fa-icon [icon]="faDownload"></fa-icon>Download
        </button>
      </h3>
      <div *ngIf="!!submission.program.languageInfo.mode"
           [ngStyle]="{'height': standalone ? 'calc(100vh - 79px)' : '80vh'}">
        <editor [disabled]="true" [submissionId]="submissionId" [program]="submission.program"></editor>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="unauthorized">
    <h3>Unauthorized</h3>
    <p>Sorry, you are not authorized to view this submission.</p>
  </ng-container>
</div>

