<h2>Registrations of Contest <span *ngIf="contest">#{{ contest.id }}</span></h2>
<nz-divider></nz-divider>
<div nz-row [nzGutter]="20">
  <div nz-col [nzSpan]="16">
    <nz-form-item>
      <nz-form-label nzFor="contestId" nzRequired>Contest ID</nz-form-label>
      <nz-form-control>
        <input #copyInput nz-input placeholder="Contest ID" id="contestId"/>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <button nz-button nzType="primary" style="width: 100%;"
            nz-popconfirm nzPopconfirmTitle="This will override all registrations of this contest. Continue?"
            (nzOnConfirm)="copyRegistrations(copyInput.value)">
      <i nz-icon nzType="copy"></i><span>Copy from contest</span>
    </button>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row>
  <p>
    Registration options: &nbsp;
    <label nz-checkbox [(ngModel)]="isParticipant">Is Participant</label>
    <label nz-checkbox [(ngModel)]="isContestManager">Is Contest Manager</label>
  </p>
</div>
<nz-table #userTable *ngIf="list && registrations" [nzData]="list.items" [nzFrontPagination]="false"
          [nzPageIndex]="list.pageIndex" [nzPageSize]="list.pageSize" [nzTotal]="list.totalItems"
          (nzPageIndexChange)="onPageIndexChange($event)">
  <thead>
  <tr>
    <th>Email</th>
    <th>Contestant ID</th>
    <th>Contestant Name</th>
    <th>Registered</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userTable.data">
    <td>{{ user.email }}</td>
    <td>{{ user.contestantId }}</td>
    <td>{{ user.contestantName }}</td>
    <td>{{ getUserRegistrationType(user.id) }}</td>
    <td>
      <button *ngIf="!getUserRegistrationType(user.id); else unregister"
              nz-button nzType="link" (click)="addRegistration(user.id)">
        <i nz-icon nzType="plus"></i><span>Add</span>
      </button>
      <ng-template #unregister>
        <button nz-button nzType="link" nzDanger (click)="removeRegistration(user.id)">
          <i nz-icon nzType="close"></i><span>Remove</span>
        </button>
      </ng-template>
    </td>
  </tr>
  </tbody>
</nz-table>
