@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>For security reasons, this feature is disabled.</strong>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}