// Background color styles.
@import "colors";

.bg-success {
  background-color: $color-success;
}

.bg-warning {
  background-color: $color-warning;
}

.bg-danger {
  background-color: $color-danger;
}

.bg-info {
  background-color: $color-info;
}

.bg-elegant {
  background-color: $color-elegant;
}

.bg-stylish {
  background-color: $color-stylish;
}

.bg-unique {
  background-color: $color-unique;
}

.bg-special {
  background-color: $color-special;
}

.bg-white {
  background-color: $color-white;
}

.bg-black {
  background-color: $color-black;
}

.bg-red {
  background-color: $color-red;
}

.bg-pink {
  background-color: $color-pink;
}

.bg-purple {
  background-color: $color-purple;
}

.bg-deep-purple {
  background-color: $color-deep-purple;
}

.bg-indigo {
  background-color: $color-indigo;
}

.bg-blue {
  background-color: $color-blue;
}

.bg-light-blue {
  background-color: $color-light-blue;
}

.bg-cyan {
  background-color: $color-cyan;
}

.bg-teal {
  background-color: $color-teal;
}

.bg-green {
  background-color: $color-green;
}

.bg-light-green {
  background-color: $color-light-green;
}

.bg-lime {
  background-color: $color-lime;
}

.bg-yellow {
  background-color: $color-yellow;
}

.bg-amber {
  background-color: $color-amber;
}

.bg-orange {
  background-color: $color-orange;
}

.bg-deep-orange {
  background-color: $color-deep-orange;
}

.bg-brown {
  background-color: $color-brown;
}

.bg-grey {
  background-color: $color-grey;
}

.bg-blue-grey {
  background-color: $color-blue-grey;
}
