// Text color styles.
@import "colors";

.text-primary {
  color: $color-primary;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-warning;
}

.text-danger {
  color: $color-danger;
}

.text-info {
  color: $color-info;
}

.text-elegant {
  color: $color-elegant;
}

.text-stylish {
  color: $color-stylish;
}

.text-unique {
  color: $color-unique;
}

.text-special {
  color: $color-special;
}

.text-white {
  color: $color-white;
}

.text-black {
  color: $color-black;
}

.text-red {
  color: $color-red;
}

.text-pink {
  color: $color-pink;
}

.text-purple {
  color: $color-purple;
}

.text-deep-purple {
  color: $color-deep-purple;
}

.text-indigo {
  color: $color-indigo;
}

.text-blue {
  color: $color-blue;
}

.text-light-blue {
  color: $color-light-blue;
}

.text-cyan {
  color: $color-cyan;
}

.text-teal {
  color: $color-teal;
}

.text-green {
  color: $color-green;
}

.text-light-green {
  color: $color-light-green;
}

.text-lime {
  color: $color-lime;
}

.text-yellow {
  color: $color-yellow;
}

.text-amber {
  color: $color-amber;
}

.text-orange {
  color: $color-orange;
}

.text-deep-orange {
  color: $color-deep-orange;
}

.text-brown {
  color: $color-brown;
}

.text-grey {
  color: $color-grey;
}

.text-blue-grey {
  color: $color-blue-grey;
}
