<h2>Rejudge Submissions</h2>
<nz-divider></nz-divider>
<p>Fill at least one of three fields:</p>
<form nz-form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <nz-form-item>
    <nz-form-label nzFor="contestId">Contest ID</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="contestId" id="contestId"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="problemId">Problem ID</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="problemId" id="problemId"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="submissionId">Submission ID</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="submissionId" id="submissionId"/>
    </nz-form-control>
  </nz-form-item>
  <nz-divider></nz-divider>
  <div nz-row>
    <div nz-col nzSpan="24">
      <button nz-button nzType="primary" nzBlock [disabled]="!form.valid" type="button"
              nz-popconfirm nzPopconfirmTitle="This will rejudge all specified submissions. Continue?"
              (nzOnConfirm)="submitForm(form.value)">
        <i nz-icon nzType="check"></i><span>Submit</span>
      </button>
    </div>
  </div>
</form>
