<div class="container my-5" xmlns="http://www.w3.org/1999/html">
  <div *ngIf="reviewId === 0; else review">
    <div class="text-center">
      <h2>
        代码互评部分注意事项
      </h2>
      <br />
      <br />
      <div class="text-left" style="font-size: 15px">
        <p>1， 互评入口将在<strong>通过该道题目</strong>后开启，为了反馈的即时性和有效性，请在通过题目后<strong>立刻进行互评</strong>。</p>

        <p>2， 评分标准为<strong>代码风格、代码可读性等（可自由发挥，需在建议写清理由）</strong>，满分10分。关于风格、可读性建议，请见<a href="https://oj.problemsolving.top/post/notice-2021-1/">此处</a>。<strong>互评所给分数不计入成绩。</strong></p>

        <p>3， 是否完成互评会计入程序设计部分成绩（提交互评即得分），完成基础量（3份）即可得到满分。若还想学习他人的代码，可继续参评。</p>

        <p>4， 为了达到良好的学习效果，请每位同学<strong>认真评价，文明用语</strong>。

        <p>5，互评时可以对代码<strong>进行hack</strong>，hack成功可加一定分数，详情请见<a href="https://oj.problemsolving.top/post/notice-2021-2/">此处</a>。我们会在结束后将hack成功的数据加入测试数据，并对所有代码重新评测。</p>
      </div>
      <br />
      <br />
      <span class="float-md-none">
      <a *ngIf="errorMessage === null" class="btn btn-sm btn-outline-danger" (click)="GetNext()">
        <fa-icon [icon]="faEdit"></fa-icon><span>开始互评</span>
      </a>
        <div *ngIf="errorMessage !== null" class="alert alert-danger">
          {{errorMessage}}
      </div>
    </span>
    </div>
  </div>
  <ng-template #review>
    <div *ngIf="!!submissions">
      <div *ngFor="let submission of submissions">
         <span *ngIf="reviewId !== reviewMap.get(submission.id)" class="float-lg-left">
            <button class="btn btn-sm btn-outline-primary" (click)="GetReview(reviewMap.get(submission.id))">
          {{reviewMap.get(submission.id)}}
            </button>
         </span>
        <span *ngIf="reviewId === reviewMap.get(submission.id)" class="float-lg-left">
        <button class="turnColor btn btn-sm btn-outline-primary" (click)="GetReview(reviewMap.get(submission.id))">
          {{reviewMap.get(submission.id)}}
        </button>
        </span>
      </div>
      <br/>
      <br/>
      <div *ngFor="let submission of submissions; let i=index">
        <div *ngIf="reviewMap.get(submission.id) === reviewId">
          <h2>代码评分 #{{reviewMap.get(submission.id)}}</h2>
          <div *ngIf="!!submission.program.languageInfo.mode"
               [ngStyle]="{'height':'calc(100vh - 179px)'}">
            <editor [disabled]="true" [hacked]="true"  [problemId]="problemId" [program]="submission.program" (submit)="submit($event)"></editor>
            <br/>
            <br/>
          </div>
          <br/>
          <br/>
          <br/>
          <br/>
          <div  class="alert alert-success text-center">
            若你要进行hack，点击自定测试，输入测试数据，自定测试结果会出现在下方，你需点开结果自行判断输出是否正确。
          </div>
          <div  class="alert alert-success text-center">
          以下是你本题的所有提交记录，方便你作对比。
          </div>
          <h3>
            提交列表
            <span class="float-right">
                <a href="javascript:void(0)" class="text-secondary" style="font-size: 1rem;"
                   (click)="timeline.loadSubmissions(problemId)">
                  <fa-icon [icon]="faSyncAlt"></fa-icon>刷新
                </a>
              </span>
          </h3>
          <app-submission-timeline [problemId]="problemId" #timeline></app-submission-timeline>
          <br/>
          <br/>
          <div  class="alert alert-success text-center">
            在线hack功能仍在建设中。若你要对此代码进行hack，请将hack成功的数据发送给助教：朱宇博 / 张浩宇。
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <form [formGroup]="reviewForm">
        <div formArrayName="scores">
          <div *ngFor="let submission of submissions; let i=index">
            <div *ngIf="reviewMap.get(submission.id) === reviewId">
              <div class="cross-validation"
                   [class.cross-validation-error]="scores.controls[i].invalid && (scores.controls[i].touched || scores.controls[i].dirty)"
                   [class.cross-validation-correct]="!(scores.controls[i].invalid && (scores.controls[i].touched || scores.controls[i].dirty))">
                <p>1，评分
                  <br/>
                  <input class="form-style" style="width: 60px" type="number" min="0" max="10" [formControlName]="i">
                </p>
                <div *ngIf="scores.controls[i].invalid && (scores.controls[i].dirty || scores.controls[i].touched)"
                     class="alert alert-danger">
                  <div *ngIf="scores.controls[i].errors?.required"> 需在此处填写评分</div>
                  <div *ngIf="scores.controls[i].errors?.min || scores.controls[i].errors?.max">填写范围：0～10</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div formArrayName="timeComplexity_">
          <div *ngFor="let submission of submissions; let i=index">
            <div *ngIf="reviewMap.get(submission.id) === reviewId">
              <div class="cross-validation"
                   [class.cross-validation-error]="timeComplexity_.controls[i].invalid && (timeComplexity_.controls[i].touched || timeComplexity_.controls[i].dirty)"
                   [class.cross-validation-correct]="!(timeComplexity_.controls[i].invalid && (timeComplexity_.controls[i].touched || timeComplexity_.controls[i].dirty))">
                <p>2，这份代码的时间复杂度（最坏情况）是多少？ </p>
                <textarea class="form-style" rows="5" cols="70%" [formControlName]="i"  placeholder="显示反馈时支持markdown语法"> </textarea>
                <div
                  *ngIf="comments.controls[i].invalid && (comments.controls[i].dirty || comments.controls[i].touched)"
                  class="alert alert-danger">
                  <span *ngIf="comments.controls[i].errors?.required"> 需在此填写时间复杂度 </span>
                  <span *ngIf="comments.controls[i].errors?.minlength"> 长度不足 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div formArrayName="spaceComplexity_">
          <div *ngFor="let submission of submissions; let i=index">
            <div *ngIf="reviewMap.get(submission.id) === reviewId">
              <div class="cross-validation"
                   [class.cross-validation-error]="spaceComplexity_.controls[i].invalid && (spaceComplexity_.controls[i].touched || spaceComplexity_.controls[i].dirty)"
                   [class.cross-validation-correct]="!(spaceComplexity_.controls[i].invalid && (spaceComplexity_.controls[i].touched || spaceComplexity_.controls[i].dirty))">
                <p>3，这份代码的空间复杂度是多少？ </p>
                <textarea class="form-style" rows="5" cols="70%" [formControlName]="i"  placeholder="显示反馈时支持markdown语法"> </textarea>
                <div
                  *ngIf="comments.controls[i].invalid && (comments.controls[i].dirty || comments.controls[i].touched)"
                  class="alert alert-danger">
                  <span *ngIf="comments.controls[i].errors?.required"> 需在此填写空间复杂度 </span>
                  <span *ngIf="comments.controls[i].errors?.minlength"> 长度不足 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div formArrayName="codeSpecifications">
          <div *ngFor="let submission of submissions; let i=index">
            <div *ngIf="reviewMap.get(submission.id) === reviewId">
              <div class="cross-validation"
                   [class.cross-validation-error]="spaceComplexity_.controls[i].invalid && (spaceComplexity_.controls[i].touched || spaceComplexity_.controls[i].dirty)"
                   [class.cross-validation-correct]="!(spaceComplexity_.controls[i].invalid && (spaceComplexity_.controls[i].touched || spaceComplexity_.controls[i].dirty))">
                <p>4，这份代码的可读性是否较高？ </p>
                <div *ngFor="let item of items">
                  <input type="checkbox" [formControlName]="item">
                  <span>{{ item }}</span>
                <div
                  *ngIf="comments.controls[i].invalid && (comments.controls[i].dirty || comments.controls[i].touched)"
                  class="alert alert-danger">
                  <span *ngIf="comments.controls[i].errors?.required"> 需在此填写空间复杂度 </span>
                  <span *ngIf="comments.controls[i].errors?.minlength"> 长度不足 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div formArrayName="comments">
          <div *ngFor="let submission of submissions; let i=index">
            <div *ngIf="reviewMap.get(submission.id) === reviewId">
              <div class="cross-validation"
                   [class.cross-validation-error]="comments.controls[i].invalid && (comments.controls[i].touched || comments.controls[i].dirty)"
                   [class.cross-validation-correct]="!(comments.controls[i].invalid && (comments.controls[i].touched || comments.controls[i].dirty))">
                <p>5，对于这份代码，您有什么建议？（优点、不足等）</p>
                <textarea class="form-style" rows="5" cols="70%" [formControlName]="i"  placeholder="显示反馈时支持markdown语法"> </textarea>
                <div
                  *ngIf="comments.controls[i].invalid && (comments.controls[i].dirty || comments.controls[i].touched)"
                  class="alert alert-danger">
                  <span *ngIf="comments.controls[i].errors?.required"> 需在此填写建议 </span>
                  <span *ngIf="comments.controls[i].errors?.minlength">请至少填写5个字 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <span *ngIf="reviewId !== 1 && reviewId !== submissions.length">
        <button class="float-left btn btn-sm btn-outline-primary" (click)="GetPre()">
          上一份
        </button>
      </span>
        <span *ngIf="reviewId !== submissions.length">
        <button class="float-right btn btn-sm btn-outline-primary" (click)="GetNext()">
          下一份
        </button>
      </span>
        <div *ngIf="reviewId === submissions.length" class="text-center">
          <button type="submit" [disabled]="!reviewForm.valid" (click)="onSubmit()"
                  class="review-submit btn btn-sm btn-outline-primary">
            提交
          </button>
        </div>
      </form>
      <br/>
    </div>
  </ng-template>
</div>
