.turnColor {
  background-color: #007BFF;
  color: white;
}

.form-style {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left:5px;
}

.review-submit {
  background-color: #29A645;
  color: white;
  border: 1px solid #29A645;
}
.cross-validation-error textarea {
  border-left: 5px solid red;
}

.cross-validation-correct textarea {
  border-left: 5px solid #29A645;
}

.cross-validation-error input {
  border-left: 5px solid red;
}

.cross-validation-correct input {
  border-left: 5px solid #29A645;
}
