<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
      <a class="navbar-brand" routerLink="/">{{ title }}</a>
      <button class="navbar-toggler" type="button" (click)="collapse = !collapse">
        <fa-icon [icon]="faBars" class="mr-0"></fa-icon>
      </button>

      <div class="navbar-collapse" [class.collapse]="collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/">
              <fa-icon [icon]="faHome"></fa-icon>
              <span>Home</span>
            </a>
          </li>
          <ng-container *ngIf="(isAuthenticated | async) then authenticated else anonymous"></ng-container>
          <ng-template #anonymous>
            <li class="nav-item">
              <a class="nav-link" routerLink="/authentication/register">
                <fa-icon [icon]="faUserPlus"></fa-icon>
                <span>Register</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-success" routerLink="/authentication/login">
                <fa-icon [icon]="faSignInAlt"></fa-icon>
                <span>Login</span>
              </a>
            </li>
          </ng-template>
          <ng-template #authenticated>
            <li class="nav-item mr-2" routerLinkActive="active">
              <a class="nav-link" routerLink="/contests">
                <fa-icon [icon]="faCalendar"></fa-icon>
                <span>Contests</span>
              </a>
            </li>
            <li class="nav-item mr-2" routerLinkActive="active">
              <a class="nav-link" routerLink="/submissions">
                <fa-icon [icon]="faPaperPlane"></fa-icon>
                <span>Submissions</span>
              </a>
            </li>
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" ngbDropdownToggle>
                <fa-icon [icon]="faUser"></fa-icon>
                <span>{{ username | async }}</span>
              </a>
              <div ngbDropdownMenu class="dropdown-menu-right">
                <a ngbDropdownItem routerLink="/authentication/profile">
                  <fa-icon [icon]="faCog"></fa-icon>
                  <span>Account</span>
                </a>
                <a ngbDropdownItem class="text-danger"
                   routerLink="/authentication/logout" [state]="{'local': true}">
                  <fa-icon [icon]="faSignOutAlt"></fa-icon>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</header>
