<div class="container my-5" *ngIf="contest">
  <div class="text-center">
    <h2>
      {{ contest.title }}
    </h2>
    <p>
      {{ contest.beginTime.format('YYYY-MM-DD HH:mm') }}
      - {{ contest.endTime.format('YYYY-MM-DD HH:mm') }}
    </p>
  </div>
  <div *ngIf="contest.hasScoreBonus || contest.hasScoreDecay" class="my-3">
    <div *ngIf="contest.hasScoreBonus" class="alert alert-success my-2">
      <fa-icon [icon]="faArrowAltCircleUp"></fa-icon>
      在{{ contest.scoreBonusTime.format('YYYY-MM-DD HH:mm') }}之前提交的代码将获得{{ contest.scoreBonusPercentage }}%的分数。
    </div>
    <div *ngIf="contest.hasScoreDecay" class="alert alert-danger my-2">
      <fa-icon [icon]="faArrowAltCircleDown"></fa-icon>
      在{{ contest.scoreDecayTime.format('YYYY-MM-DD HH:mm') }}之后提交的代码将获得{{ contest.scoreDecayPercentage }}%的分数。
      <ng-container *ngIf="contest.isScoreDecayLinear">
        <br/>Score of new submissions after that time will decay linearly according to submit time.
      </ng-container>
    </div>
  </div>
  <div class="my-3">
    <span *ngIf="privileged" class="float-right">
      <button class="btn btn-sm btn-outline-danger mr-2" [disabled]="loading" (click)="exportReviews()">
        <fa-icon [icon]="faDownload"></fa-icon><span>导出互评结果到Excel</span>
      </button>
      <a class="btn btn-sm btn-outline-danger" [routerLink]="['/admin/contest', contestId]">
        <fa-icon [icon]="faEdit"></fa-icon><span>编辑作业</span>
      </a>
    </span>
    <markdown [data]="contest.description" katex></markdown>
  </div>
  <div *ngIf="contest.problems.length === 0; else contestProblems">
    <div class="text-center">
      <h3 class="text-secondary">
        <fa-icon [icon]="faBoxOpen"></fa-icon>
      </h3>
      <p>这个作业没有题目。</p>
    </div>
  </div>
  <ng-template #contestProblems>
    <div class="my-3 card">
      <div class="card-body">
        <h2>题目列表</h2>
        <div *ngIf="examId===null; else examMode">
          <table class="table my-3">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">名称</th>
              <th scope="col">解决状态</th>
              <th scope="col">通过人数</th>
              <th scope="col">代码互评</th>
              <th scope="col">互评反馈</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let problem of contest.problems">
              <th scope="row">{{ problem.label }}</th>
              <td><a [routerLink]="['/contest', contestId, 'problem', problem.id]">{{ problem.title }}</a></td>
              <td>
              <span *ngIf="problem.solved && !problem.scored" class="text-purple">
              <fa-icon [icon]="faClipboardCheck"></fa-icon><span> 待互评</span>
            </span>
                <span *ngIf="problem.solved && problem.scored" class="text-success">
              <fa-icon [icon]="faCheck"></fa-icon><span>已解决</span>
            </span>
                <span *ngIf="problem.attempted && !problem.solved" class="text-danger">
              <fa-icon [icon]="faTimes"></fa-icon><span>未通过</span>
            </span>
              </td>
              <td>
            <span *ngIf="problem.totalContestants > 0">
              {{ problem.acceptedContestants }} / {{ problem.totalContestants }}
            </span>
              </td>
              <td>
              <span *ngIf="problem.scored" class="text-success" >
              <span>提交成功</span>
            </span>
                <a *ngIf="!problem.scored"
                   [routerLink]="['/contest', contestId, 'problem', problem.id, 'submissionReview']">进入互评</a>
              </td>
              <td>
                <a *ngIf="problem.scored"
                   [routerLink]="['/contest', contestId, 'problem', problem.id, 'reviewFeedback']">查看反馈</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <ng-template #examMode>
          <table class="table my-3">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">名称</th>
              <th scope="col">解决状态</th>
              <th scope="col">通过人数</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let problem of contest.problems">
              <th scope="row">{{ problem.label }}</th>
              <td><a [routerLink]="['/contest', contestId, 'problem', problem.id]">{{ problem.title }}</a></td>
              <td>
                <span *ngIf="problem.solved" class="text-success">
              <fa-icon [icon]="faCheck"></fa-icon><span>已解决</span>
            </span>
                <span *ngIf="problem.attempted && !problem.solved" class="text-danger">
              <fa-icon [icon]="faTimes"></fa-icon><span>未解决</span>
            </span>
              </td>
              <td>
            <span *ngIf="problem.totalContestants > 0">
              {{ problem.acceptedContestants }} / {{ problem.totalContestants }}
            </span>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </div>
    </div>
  </ng-template>
</div>
