<nz-layout>
  <app-header-main></app-header-main>
  <nz-content class="outer-content">
    <nz-layout>
      <nz-sider class="sidebar" nzWidth="20vw" nzTheme="light">
        <ul nz-menu nzMode="inline" class="menu">
          <li nz-menu-item [routerLink]="['/contest', contestId]"
              routerLinkActive #active="routerLinkActive" [nzSelected]="active">
            Description
          </li>
          <li nz-submenu nzTitle="Problems" *ngIf="contest">
            <ul>
              <li nz-menu-item *ngFor="let problem of contest.problems">
                {{ problem.label }}: {{ problem.title }}
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="inner-content">
        <nz-card>
          <router-outlet></router-outlet>
        </nz-card>
      </nz-content>
    </nz-layout>
  </nz-content>
  <app-footer-main></app-footer-main>
</nz-layout>
