<nz-layout>
  <app-header-main></app-header-main>
  <nz-content>
    <div class="container" *ngIf="list">
      <h2>Contests</h2>
      <div id="contests">
        <nz-list nzItemLayout="horizontal">
          <nz-list-item *ngFor="let contest of list.items">
            <nz-list-item-meta>
              <nz-list-item-meta-title><nz-tag>#{{ contest.id }}</nz-tag> {{ contest.title }}</nz-list-item-meta-title>
            </nz-list-item-meta>
            <span style="margin-right: 0.5rem">
              <nz-tag nzColor="volcano" *ngIf="isContestRunning(contest)">Running</nz-tag>
              <nz-tag nzColor="green" *ngIf="contest.isPublic">Public</nz-tag>
              <nz-tag nzColor="red" *ngIf="!contest.isPublic && !contest.registered">Private</nz-tag>
              <nz-tag nzColor="blue" *ngIf="!contest.isPublic && contest.registered">Registered</nz-tag>
            </span>
            <span>
              {{ contest.beginTime.format('YYYY-MM-DD HH:mm') }}
              -
              {{ contest.endTime.format('YYYY-MM-DD HH:mm') }}
            </span>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <button nz-button [disabled]="!canEnterContest(contest)"
                        [nzType]="isContestRunning(contest) ? 'primary' : 'default'">
                  Enter
                </button>
              </nz-list-item-action>
            </ul>
          </nz-list-item>
        </nz-list>
      </div>
      <div nz-row nzJustify="end">
        <nz-pagination [nzPageIndex]="list.pageIndex" [nzPageSize]="list.pageSize"
                       [nzTotal]="list.totalItems" [nzShowTotal]="paginationTotal"
                       (nzPageIndexChange)="onPageIndexChange($event)"
        ></nz-pagination>
        <ng-template #paginationTotal let-range="range" let-total>
          <span>{{ range[0] }} - {{ range[1] }} of {{ total }} items</span>
        </ng-template>
      </div>
    </div>
  </nz-content>
  <app-footer-main></app-footer-main>
</nz-layout>
