<div class="container">
  <h1 title>Assignment List</h1>
  <table mat-table *ngIf="assignments" [dataSource]="assignments"
         class="mat-elevation-z1" style="width: 100%;">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.id }}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.title }}</td>
    </ng-container>
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Start Time</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.beginTime | date:'yyyy-MM-dd hh:mm' }}</td>
    </ng-container>
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef>End Time</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.endTime | date:'yyyy-MM-dd hh:mm' }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let assignment">
        <span class="text-success" *ngIf="assignment.isPublic; else assignmentNotPublic">Public</span>
        <ng-template #assignmentNotPublic>
          <span class="text-danger">Private</span>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let assignment">
        <span class="text-primary" *ngIf="isAssignmentPending(assignment); else statusNotPending">Pending</span>
        <ng-template #statusNotPending>
          <span *ngIf="isAssignmentEnded(assignment); else statusNotEnded">Ended</span>
          <ng-template #statusNotEnded>
            <span class="text-success">Running</span>
          </ng-template>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let assignment">
        <button mat-button
                *ngIf="canEnterAssignment(assignment)"
                (click)="enterAssignment(assignment.id)"
        >Enter</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="assignmentColumns"></tr>
    <tr mat-row *matRowDef="let assignment; columns: assignmentColumns"></tr>
  </table>
  <mat-paginator [length]="totalItems"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex-1"
                 (page)="onPageEvent($event)"
  ></mat-paginator>
</div>
