<h2>Problem Archive</h2>
<nz-divider></nz-divider>
<h3>Import Problem</h3>
<div nz-row [nzGutter]="20">
  <div nz-col [nzSpan]="16">
    <nz-form-item>
      <nz-form-label nzFor="contestId" nzRequired>Contest ID</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="importContestId" placeholder="Contest ID" id="contestId"/>
      </nz-form-control>
    </nz-form-item>
    <input #zipFileInput type="file" accept="application/zip" (change)="selectZipFile($event)"/>
    <button nz-button [nzType]="file ? 'default' : 'dashed'" nzBlock (click)="zipFileInput.click()">
      {{ file ? file.name : 'Select Zip File' }}
    </button>
  </div>
  <div nz-col [nzSpan]="8">
    <button nz-button nzType="primary" nzBlock [disabled]="!importContestId || !file" (click)="importProblem($event)">
      <ng-container *ngIf="!progress; else uploadProgress">
        <i nz-icon nzType="upload"></i><span>Import</span>
      </ng-container>
      <ng-template #uploadProgress>
        {{ progress }}%
      </ng-template>
    </button>
  </div>
</div>

<nz-divider></nz-divider>
<h3>Export Problem</h3>
<div nz-row [nzGutter]="20">
  <div nz-col [nzSpan]="16">
    <nz-form-item>
      <nz-form-label nzFor="problemId" nzRequired>Problem ID</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="exportProblemId" placeholder="Problem ID" id="problemId"/>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="8">
    <button nz-button nzType="primary" nzBlock [disabled]="!exportProblemId" (click)="exportProblem($event)">
      <i nz-icon nzType="download"></i><span>Export</span>
    </button>
  </div>
</div>
