<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-button tabindex="0" routerLink="/" style="font-size:1.2rem;">Judge1</button>
    <div class="flex-spacer"></div>
    <div id="nav-menu" *ngIf="isAuthenticated | async">
      <button mat-button tabindex="0" routerLink="/assignments">Assignments</button>
      <button mat-button tabindex="0" routerLink="/problems">Problems</button>
      <button mat-button tabindex="0">Status</button>
    </div>
    <app-login-menu></app-login-menu>
  </mat-toolbar>
</header>
