<div nz-row>
  <div nz-col nzSpan="24">
    <button nz-button nzType="default" (click)="visible = true">
      <i nz-icon nzType="plus"></i><span>Submit Code</span>
    </button>
  </div>
</div>
<nz-modal [(nzVisible)]="visible" nzWidth="60vw" [nzMaskClosable]="false"
          [nzTitle]="'Submit for problem #' + problem.id + ': ' + problem.title"
          nzOkText="Submit" [nzOkDisabled]="!language || !code" [nzOkLoading]="submitting"
          (nzOnCancel)="clearSourceFile($event); visible = false" (nzOnOk)="makeSubmission()">
  <div nz-row>
    <div nz-col nzSpan="12">
      <p>
        Time Limit: {{ problem.timeLimit }} ms
        <ng-container *ngIf="factor">
          <i nz-icon nzType="arrow-right"></i>
          ({{ factor | number: "1.1-1" | noComma }}x)
          {{ problem.timeLimit * factor | number: "1.0-0" | noComma }} ms
        </ng-container>
      </p>
    </div>
    <div nz-col nzSpan="12">
      <p>Memory Limit: {{ problem.memoryLimit }} KiB</p>
    </div>
  </div>
  <div nz-row style="margin-bottom: 1rem;">
    <div nz-col nzSpan="24">
      <nz-select nzPlaceHolder="Language"
                 [ngModel]="language" (ngModelChange)="selectLanguage($event)">
        <nz-option *ngFor="let language of Languages" nzCustomContent
                   [nzLabel]="language.name + ' (' + language.env + ')'" [nzValue]="language.code">
          <span>{{ language.name }} ({{ language.env }})</span>
          <span *ngIf="language.option" style="float: right;" nz-tooltip
                nzTooltipPlacement="right" [nzTooltipTitle]="language.option">
            <i nz-icon nzType="info-circle"></i>
          </span>
        </nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-row>
    <input #sourceFileInput type="file" (change)="selectSourceFile($event)"/>
    <div nz-col nzSpan="12">
      <button nz-button nzType="default" (click)="sourceFileInput.click()">
        <i *ngIf="!filename" nz-icon nzType="upload"></i>
        <span>{{ filename ? filename : 'Select File' }}</span>
      </button>
    </div>
    <div nz-col nzSpan="12">
      <button nz-button nzType="deafult" (click)="clearSourceFile($event)" [disabled]="!filename">
        <i nz-icon nzType="close"></i><span>Clear</span>
      </button>
    </div>
  </div>
  <textarea #sourceCodeTextArea nz-input rows="20" class="monospace"
            [(ngModel)]="code" [disabled]="!!filename"
  ></textarea>
</nz-modal>
