<div class="container my-5" xmlns="http://www.w3.org/1999/html">
  <div *ngIf="!!feedbacks">
  <div *ngIf="feedbacks.length === 0" class="alert alert-danger">
      您目前没有收到互评反馈
  </div>
  <div *ngIf="feedbacks.length !== 0" class="alert alert-success">
    您已收到{{feedbacks.length}}份互评反馈
  </div>
  <br/>
  <div *ngIf="!!feedbacks[0].submission.program.languageInfo.mode && feedbacks.length != 0"
       [ngStyle]="{'height':'calc(100vh - 479px)'}">
    <editor [disabled]="true" [submissionId]="feedbacks[0].submission.id" [program]="feedbacks[0].submission.program"></editor>
  </div>
  <div *ngFor="let feedback of feedbacks; let i=index">
    <h2>互评反馈 #{{i + 1}}</h2>
    <div>得分: {{feedback.score}}</div>
    <div>建议: {{feedback.comments}}</div>
    <br/>
    <br/>
  </div>
  </div>
</div>
