{
  "ConnectionStrings": {
    "MySqlConnection": "Server=mariadb;Uid=worker;Pwd=worker;Database=judge;"
  },
  "Worker": {
    "Name": "local",
    "BoxId": "0",
    "DataPath": "/data"
  },
  "RabbitMQ": {
    "HostName": "rabbitmq",
    "Port": 5672,
    "UserName": "worker",
    "Password": "worker"
  },
  "Notification": {
    "DingTalk": {
      "Enabled": false,
      "Token": "",
      "Secret": "",
      "Admins": []
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information",
      "Worker": "Information"
    }
  }
}
