{
  "ConnectionStrings": {
    "MySqlConnection": "Server=mariadb;Uid=judge;Pwd=judge;Database=judge;"
  },
  "Judging": {
    "Name": "local",
    "DataPath": "/var/www/judge-data"
  },
  "Notification": {
    "DingTalk": {
      "Enabled": false,
      "Token": "",
      "Secret": "",
      "Admins": []
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information",
      "Worker": "Information"
    }
  }
}
