<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand ml-0">
        <a routerLink="/contests" class="d-none d-lg-inline text-dark">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
        {{ contest == null ? "Loading..." : contest.title }}
        <span *ngIf="ended === true" class="badge">Practice Mode</span>
      </span>
      <button class="navbar-toggler" type="button" (click)="collapse = !collapse">
        <fa-icon [icon]="faBars" class="mr-0"></fa-icon>
      </button>

      <div class="navbar-collapse" [class.collapse]="collapse">
        <span class="ml-auto text-info">
          <fa-icon [icon]="faClock"></fa-icon>
          {{ now.format('YYYY-MM-DD HH:mm:ss') }}
        </span>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link mr-2" [routerLink]="['/contest', contestId]">
              <fa-icon [icon]="faStream"></fa-icon>
              <span>Index</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link mr-2" [routerLink]="['/contest', contestId, 'submissions']">
              <fa-icon [icon]="faPaperPlane"></fa-icon>
              <span>Submissions</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link mr-2" [routerLink]="['/contest', contestId, 'standings']">
              <fa-icon [icon]="faTrophy"></fa-icon>
              <span>Standings</span>
            </a>
          </li>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" ngbDropdownToggle>
              <fa-icon [icon]="faUser"></fa-icon>
              <span>{{ username | async }}</span>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a ngbDropdownItem routerLink="/">
                <fa-icon [icon]="faHome"></fa-icon>
                <span>Home</span>
              </a>
              <a ngbDropdownItem routerLink="/authentication/profile">
                <fa-icon [icon]="faCog"></fa-icon>
                <span>Account</span>
              </a>
              <a ngbDropdownItem class="text-danger"
                 routerLink="/authentication/logout" [state]="{'local': true}">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <ngb-progressbar *ngIf="ended === false" type="info" [value]="progress" height="6px"></ngb-progressbar>
</header>
<ng-template #contestEndedModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contest Ended</h4>
  </div>
  <div class="modal-body">
    <p>The contest has ended. Refresh page to view the results.</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-outline-success" (click)="modal.close()">Done</a>
  </div>
</ng-template>
