<nz-page-header nzBackIcon (nzBack)="leaveContest()"
                [attr.style]="ended ? 'box-shadow: 0 2px 8px #f0f1f2;' : ''">
  <nz-page-header-title>
    <span *ngIf="contest">
      {{ contest.title }}
      <nz-badge *ngIf="ended === true">Practice Mode</nz-badge>
    </span>
  </nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="link" nzDanger (click)="leaveContest()">
      <i nz-icon nzType="logout"></i><span>Exit</span>
    </button>
    <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="userMenu">
      <i nz-icon nzType="user"></i><span>{{ username | async }}</span>
    </button>
    <nz-dropdown-menu #userMenu>
      <ul nz-menu>
        <li *ngIf="canViewAdminPages | async" nz-menu-item routerLink="/admin">
          <i nz-icon nzType="setting"></i><span>Administration</span>
        </li>
        <li nz-menu-item routerLink="/authentication/profile">
          <i nz-icon nzType="user"></i><span>Account</span>
        </li>
        <li nz-menu-item routerLink="/authentication/logout" [state]="{ local: true }">
          <i nz-icon nzType="logout"></i><span>Logout</span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </nz-page-header-extra>
</nz-page-header>
