<h2>Bulletins</h2>
<div *ngIf="bulletins == null; else bulletinsLoaded" class="spinner-border" role="status"></div>
<ng-template #bulletinsLoaded>
  <ng-template #bulletinsEmpty>
    <div class="text-center">
      <h3 class="text-secondary">
        <fa-icon [icon]="faBoxOpen"></fa-icon>
      </h3>
      <p>No bulletins.</p>
    </div>
  </ng-template>
  <ng-container *ngIf="bulletins.length > 0; else bulletinsEmpty">
    <ul>
      <li *ngFor="let bulletin of bulletins">
        <markdown [data]="bulletin.content" katex></markdown>
      </li>
    </ul>
  </ng-container>
</ng-template>
