{
  "ConnectionStrings": {
    "MySqlConnection": "Server=mariadb;Uid=judge1;Pwd=judge1;Database=judge1;"
  },
  "Application": {
    "Host": "https://judge1",
    "Title": "Judge1",
    "Author": "Judge1 Developers",
    "DataPath": "/var/www/judge-data",
    "AdminUser": {
      "Email": "admin@judge1.local",
      "Password": "password",
      "ContestantId": "admin",
      "ContestantName": "admin"
    }
  },
  "Notification": {
    "DingTalk": {
      "Enabled": false,
      "Token": "",
      "Secret": "",
      "Admins": []
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "IdentityServer": {
    "Key": {
      "Type": "File",
      "FilePath": "identity.pfx",
      "Password": "identity"
    },
    "Clients": {
      "Judge1": {
        "Profile": "IdentityServerSPA"
      }
    }
  },
  "AllowedHosts": "*"
}
