{
  "ConnectionStrings": {
    "MySqlConnection": "Server=mariadb;Uid=judge;Pwd=judge;Database=judge;"
  },
  "Application": {
    "Host": "https://dotoj",
    "Title": ".OJ",
    "Author": ".OJ developers",
    "DataPath": "/var/www/judge-data",
    "AdminUser": {
      "Email": "admin@dotoj.local",
      "Password": "password",
      "ContestantId": "admin",
      "ContestantName": "admin"
    }
  },
  "Notification": {
    "DingTalk": {
      "Enabled": false,
      "Token": "",
      "Secret": "",
      "Admins": []
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "IdentityServer": {
    "Key": {
      "Type": "File",
      "FilePath": "identity.pfx",
      "Password": "identity"
    },
    "Clients": {
      "Judge1": {
        "Profile": "IdentityServerSPA"
      }
    }
  },
  "AllowedHosts": "*"
}
