{
  "ConnectionStrings": {
    "MySqlConnection": "Server=mariadb;Uid=judge;Pwd=judge;Database=judge;"
  },
  "Application": {
    "Host": "https://dotoj",
    "Title": "dotOJ",
    "Author": "dotOJ developers",
    "DataPath": "/var/www/data",
    "AdminUser": {
      "Email": "admin@dotoj.local",
      "Password": "password",
      "ContestantId": "admin",
      "ContestantName": "admin"
    }
  },
  "RabbitMQ": {
    "HostName": "rabbitmq",
    "Port": 5672,
    "UserName": "judge",
    "Password": "judge"
  },
  "Notification": {
    "DingTalk": {
      "Enabled": false,
      "Token": "",
      "Secret": "",
      "Admins": []
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information",
      "IdentityServer4": "Warning"
    }
  },
  "IdentityServer": {
    "Key": {
      "Type": "File",
      "FilePath": "identity.pfx",
      "Password": "identity"
    },
    "Clients": {
      "dotOJ": {
        "Profile": "IdentityServerSPA"
      }
    }
  },
  "AllowedHosts": "*"
}
