<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin/bulletin">Bulletins</a></li>
    <li class="breadcrumb-item active" aria-current="page">#{{ bulletinId }}</li>
  </ol>
</nav>
<h2>
  {{ edit ? 'Edit' : 'View' }} Bulletin <span *ngIf="bulletin">#{{ bulletin.id }}</span>
  <span style="float: right;">
    <button *ngIf="!edit" class="btn btn-primary mr-2" (click)="editBulletin()">
      <fa-icon [icon]="faEdit"></fa-icon><span>Edit</span>
    </button>
    <button class="btn btn-outline-danger" (click)="deleteBulletin()">
      <fa-icon [icon]="faTrash"></fa-icon><span>Delete</span>
    </button>
  </span>
</h2>
<app-admin-bulletin-form *ngIf="bulletin"
                         [bulletin]="bulletin" [disabled]="!edit"
                         (formSubmit)="updateBulletin($event)"
></app-admin-bulletin-form>
