<div class="container my-5">
  <div class="text-center" *ngIf="contest">
    <h2>
      {{ contest.title }}
    </h2>
    <p>
      {{ contest.beginTime.format('YYYY-MM-DD HH:mm') }}
      - {{ contest.endTime.format('YYYY-MM-DD HH:mm') }}
    </p>
  </div>
  <h2>
    得分排名
    <span class="float-right">
      <button class="btn btn-outline-secondary mr-3" (click)="viewScore = !viewScore">
        <fa-icon [icon]="faEye"></fa-icon><span>{{ viewScore ? '显示结果' : '显示得分' }}</span>
      </button>
      <button class="btn btn-outline-success mr-3" [disabled]="loading" (click)="exportStandings()">
        <fa-icon [icon]="faDownload"></fa-icon><span>导出为Excel</span>
      </button>
      <button class="btn btn-outline-primary" [disabled]="loading" (click)="loadRegistrations()">
        <fa-icon [icon]="faSyncAlt"></fa-icon><span>刷新</span>
      </button>
    </span>
  </h2>
  <table *ngIf="contest" class="table table-hover my-3">
    <thead>
    <tr>
      <th>排名</th>
      <th>选手</th>
      <th *ngFor="let problem of contest.problems">
        {{ problem.label }}
      </th>
      <th>总得分</th>
      <th>总罚时</th>
    </tr>
    </thead>
    <tbody *ngIf="contest && registrations">
    <ng-container *ngFor="let registration of registrations; index as index">
      <tr>
        <td style="vertical-align: middle;">{{ registration.rank === -1 ? '-' : registration.rank.toString() }}</td>
        <td style="vertical-align: middle;">
        <span [ngbTooltip]="registration.contestantId">
          {{ registration.contestantName + (registration.isParticipant ? '' : '*') }}
        </span>
        </td>
        <td *ngFor="let problem of contest.problems">
          <ng-container *ngIf="getProblemItem(registration, problem) as problemItem">
            <a href="javascript:void(0);" [ngClass]="viewScore ? 'text-dark' : problemItem[2]"
               (click)="selectRegistrationAndProblem(registration, problem.id)">
              {{ viewScore ? problemItem[0] : problemItem[1] }}
            </a>
          </ng-container>
        </td>
        <td style="vertical-align: middle;">{{ registration.score }}</td>
        <td style="vertical-align: middle;">{{ registration.penalties }}</td>
      </tr>
      <tr class="tr-not-hover" *ngIf="selectedRegistration === registration && !!selectedProblem">
        <td [colSpan]="contest.problems.length + 4">
          <div class="card">
            <div class="card-body">
              <h5 class="text-left">
                选手{{ selectedRegistration.contestantName }}在题目{{ selectedProblem.label }}中提交的代码
                <small class="float-right">
                  <a href="javascript:void(0);" class="text-secondary" (click)="selectedRegistration = null">
                    <fa-icon [icon]="faTimes"></fa-icon>关闭
                  </a>
                </small>
              </h5>
              <app-submission-timeline [problemId]="selectedProblem.id"
                                       [contestantId]="selectedRegistration.contestantId">
              </app-submission-timeline>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
