<form class="my-3" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <div class="form-group row">
    <label for="id" class="col col-md-1 col-form-label">ID</label>
    <div class="col col-md-11">
      <input class="form-control" id="id" formControlName="id" [disabled]="true"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col col-md-1 col-form-label">Email</label>
    <div class="col col-md-11">
      <input class="form-control" id="email" formControlName="email" [disabled]="true"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="username" class="col col-md-2 col-form-label">Username</label>
    <div class="col col-md-10">
      <input class="form-control" id="username" formControlName="userName" [disabled]="true"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col col-md-2 col-form-label">Password</label>
    <div class="col col-md-10">
      <input class="form-control" id="password" formControlName="password"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="contestant-id" class="col col-md-2 col-form-label">Contestant ID</label>
    <div class="col col-md-10">
      <input class="form-control" id="contestant-id" formControlName="contestantId"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="contestant-name" class="col col-md-2 col-form-label">Contestant Name</label>
    <div class="col col-md-10">
      <input class="form-control" id="contestant-name" formControlName="contestantName"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-md-1 col-form-label">Roles</label>
    <div class="col col-md-11 py-2">
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="is-administrator" formControlName="isAdministrator">
        <label class="form-check-label" for="is-administrator">Administrator</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="is-user-manager" formControlName="isUserManager">
        <label class="form-check-label" for="is-user-manager">User Manager</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="is-contest-manager" formControlName="isContestManager">
        <label class="form-check-label" for="is-contest-manager">Contest Manager</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="is-submission-manager"
               formControlName="isSubmissionManager">
        <label class="form-check-label" for="is-submission-manager">Submission Manager</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success w-100" [disabled]="!form.valid" type="submit">
        <fa-icon [icon]="faCheck"></fa-icon>
        <span>Submit</span>
      </button>
    </div>
  </div>
</form>
